mixin head(data)
    meta(charset='utf8')
    title= data.title + '::' + config.project

    if data.meta
        meta(content=data.meta.author name="author")
        meta(content=data.meta.description name="description")
        meta(content=data.meta.keywords name="keywords")

    if data.mobile
        meta(content="telephone=no" name="format-detection")
        meta(name="robots" content="noodp, noydir")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
        meta(name="HandheldFriendly" content="true")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")

    // fonts
    link(rel="stylesheet", href="#{config.path.stylesheets}/proximanova.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")

    //- Stylesheets
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    link(rel="stylesheet", href="#{config.path.stylesheets}/style.css")
