.product-details
    padding-top 20px
    padding-bottom 60px

    .details__images
        display block
        width 100%
        height 100%

        .image__main
            width 100%
            overflow hidden
            position relative
            box-sizing border-box

            .image__wrapper
                width 100%
                height 400px
                position relative
                display block

                .image__block
                    width 100%
                    height 400px
                    position absolute
                    left 0
                    top 0
                    display none
                    opacity 0
                    transition all 200ms ease-in

                .visible
                    display block
                    opacity 1

        .image__thumbs
            padding-top 20px
            padding-bottom 20px
            display block
            width 100%

            .thumbs__block
                display block
                cursor pointer
                transition all 200ms ease-in

                &:hover
                    box-shadow 0 10px 20px rgba(0,0,0,.2)

                img
                    width 100%
                    height 72px

    .product-header
        display block
        width 100%

        .header__title
            width 100%
            padding 0
            margin 0
            font-size 30px
            set-font("semibold")

        .header__undertitle
            display block
            width 100%

            .undertitle__item
                display inline-block
                padding-right 40px

                .item__review,
                .item__review a,
                .item__add_review,
                .item__add_review a
                    font-size 14px
                    color $base-heading-small-color
                    transition color 75ms ease-in

                    &:hover
                        color $orange

                .item__review span,
                .item__add_review span
                    padding-right 5px

.product-details__title
    padding: 0
    margin: 0
    font-size: 24px
    set-font "semibold"
    display: block

.product-provider
    padding-top 40px
    padding-bottom 20px
    display block

    &__title
        @extends .product-details__title

    &__name_provaider
        font-size 18px

        a
            text-decoration underline
            transition color 75ms ease-in

            &:hover
                color $orange

.product-price
    width: 100%
    display: block
    padding-top: 20px
    padding-bottom: 20px

    &__title
        @extends .product-details__title

    &__details
        width: 100%

        .title
            font-size 24px
            set-font "regular"

        .price__block
            display block
            width 100%

            span
                display inline-block

            .price__text
                font-size 30px
                set-font "semibold"
            .price__icon
                padding-left 5px
                font-size 24px

        .numbers
            padding-left 5px
            padding-right 5px

            input
                border none
                border-bottom 2px solid $main-color
                padding-left 10px
                padding-right 10px
                font-size 24px
                width 80px
                text-align center
                set-font "light"

                &::placeholder
                    font-size 18px

                &:focus
                    border none 
                    border-bottom 2px solid $orange
                    outline none

.product-buttons
    margin-top 20px
    margin-bottom 20px
    position relative
    height 46px

    &__item
        display block
        padding-right 40px
        position absolute
        top 0

        &:last-child
            padding-right 0
            left 320px

