//- rating block
mixin rating(rating)
    -var count = 0
    .rating__star
        -for (var i = 0; i < rating; i++)
            i.fas.fa-star.rating__star_checked
            -count++
        if count != 5
            -for (var i = 5; i > count; i--)
                i.fas.fa-star
