mixin breadcrumbs(text, separator)
    - var array = text.split(separator)
    section.breadcrumbs
        .container
            .breadcrumbs__nav
                each title in array
                    span.nav__link
                        a(href="#") #{title}