.comment_block
    display flex
    flex-direction row
    flex-wrap nowrap
    width 100%
    padding 20px
    margin-top 20px
    margin-bottom 40px
    border-radius 5px
    box-shadow 0 0 6px rgba(0,0,0,.16)
    transition box-shadow 200ms ease-in

    &:hover
        box-shadow 0 10px 30px rgba(0,0,0,.25)

    &_left
        display flex
        position relative
        flex-direction column
        padding-right 30px
        flex-basis 175px
        min-width 175px

        &_rating
            display block
            padding-bottom 20px

        &_user
            display block

            &_name
                display block
                text-decoration none
                cursor pointer
                font-size 14px
                padding 0
                margin 0
                set-font "semibold"
                transition all 200ms ease-in

                &:hover
                    text-decoration underline
                    color $second-color

            &_datetime
                display block
                margin 0
                padding 0
                font-size 12px
                color #707070
                set-font "regular"

        &_complaint
            display block
            position absolute
            bottom 20px
            left 0

            &_link
                display block

                &_icon
                    font-size 14px
                    padding-right 10px
                    color #E53935
                &_title
                    font-size 12px
                    color #707070
                    text-decoration underline
                    transition color 200ms ease-in

                    &:hover
                        color #E53935

    &_right
        display block

        &_wrapper
            padding-bottom 20px
            display block

            &_heading,
            &_description
                display block

            &_heading
                set-font "semibold"
                font-size 18px
                padding-bottom 5px

            &_description
                set-font "regular"
                font-size 12px
