header
    background-color: $main-color
    height: PxToRem(60)
    color #fff
    padding-top 18px

    .location,
    .user-menu
        a.icon,
        a.location__text
            font-size: PxToRem(16)
            color #fff
            display: inline-block
            transition all 75ms ease-in

            &:hover
                color $orange

            &:last-child
                background-color: $main-color
        i
            font-size PxToRem(20)

    .user-menu
        .icon
            position: relative

            span
                box-sizing border-box
                background-color: $main-color
                border PxToRem(2) solid #fff
                position: absolute
                width: PxToRem(20)
                height: PxToRem(20)
                right: PxToRem(16)
                top -10px
                line-height: PxToRem(16)
                font-size: PxToRem(10)
                text-align center
                border-radius: PxToRem(10)

                &:after
                    border $main-color PxToRem(2) solid
                    content: ' '
                    width: PxToRem(25)
                    height: PxToRem(25)
                    position: absolute
                    top: PxToRem(-5)
                    right PxToRem(-5)
                    display: block
                    border-radius PxToRem(12)

            &:hover
                span
                    border-color $orange

        .login-form
            font-size 16px
            set-font("regular")

            .form__text
                color #fff
                display inline-block
                &:hover
                    color $orange

            .form__separator
                padding 0 10px