//- border radius generator
GenerateBorderRadiusBase(list)
    l = CheckUnit(list)

    for i in 0 .. (length(l) - 1)
        .br-{l[i]}
            border-radius: PxToRem(l[i])


// Border radius
GenerateBorderRadiusBase(border-radius-list)

.br
    &-left
        border-top-right-radius 0
        border-bottom-right-radius 0
    &-right
        border-top-left-radius 0
        border-bottom-left-radius 0