.breadcrumbs
    display block
    width 100%
    padding-top 20px
    padding-bottom 20px

    &__nav
        position relative
        display inline-block

        .nav__link 
            a
                color $base-heading-small-color
                font-size 12px
                text-decoration none
                set-font("regular")
                transition all 120ms ease-in
                display inline-block
                padding-right 5px

                &:after
                    content "/"
                    display inline-block
                    padding-left 5px

                &:hover
                    color $base-heading-color
                    text-decoration underline

            &:last-child a:after
                content ""