/********************** 
  Buttons base
*********************/

.button
    display flex
    flex-direction row
    flex-wrap nowrap
    align-items stretch
    border-radius 5px
    border-style solid
    border-width 1px
    box-sizing border-box
    text-decoration none
    justify-content center
    transition all 100ms ease-in
    color #fff

    &:hover
        text-decoration none
        color #fff

    span
        padding 10px
        display flex
        flex-direction column
        justify-content center
        align-items center
        font-size 16px
        

    .title
        set-font "semibold"
        padding-left 20px
        padding-right 20px

    .icon
        font-size 18px
        translate background-color 100ms ease-in
        border-right-style solid
        border-right-width 1px

    &-small
        padding 0
        set-font "regular"
        font-size 12px

        span
            padding-left 10px
            padding-right 10px
            padding-top 3px
            padding-bottom 3px

.product__button
    color $button-lightgray-back
    span.title
        padding-left 10px
        padding-right 10px
        padding-top 5px
        padding-bottom 5px
    
/********************** 
  Buttons color
*********************/
.button-depth
    border-bottom-width: calc(.2rem + .0625rem)
    border-top-width: .0625rem

    &:active
        border-bottom-width: .0625rem
        border-top-width: calc(.2rem + .0625rem)

.button-blue
    background-color: $button-blue-front
    border-color: $button-blue-back
    
    .icon
        background-color $button-blue-icon
        border-right-color $button-blue-back
    
    &:hover
        background-color $button-blue-hover

        .icon
            background-color lighten($button-blue-icon, 10%)

.button-green
    background-color: $button-green-front
    border-color: $button-green-back

    .icon
        background-color $button-green-icon
        border-right-color $button-green-back
    
    &:hover
        background-color $button-green-hover
        .icon
            background-color lighten($button-green-icon, 10%)

.button-red
    background-color: $button-red-front
    border-color: $button-red-back
    
    .icon
        background-color $button-red-icon
        border-right-color $button-red-back
    
    &:hover
        background-color $button-red-hover
        .icon
            background-color lighten($button-red-icon, 10%)

.button-orange
    background-color: $button-orange-front
    border-color: $button-orange-back
    
    .icon
        background-color $button-orange-icon
        border-right-color $button-orange-back
    
    &:hover
        background-color $button-orange-hover
        .icon
            background-color lighten($button-orange-icon, 10%)

.button-purple
    background-color: $button-purple-front
    border-color: $button-purple-back
    
    .icon
        background-color $button-purple-icon
        border-right-color $button-purple-back
    
    &:hover
        background-color $button-purple-hover
        .icon
            background-color lighten($button-purple-icon, 10%)

.button-brown
    background-color: $button-brown-front
    border-color: $button-brown-back
    
    .icon
        background-color $button-brown-icon
        border-right-color $button-brown-back
    
    &:hover
        background-color $button-brown-hover
        .icon
            background-color lighten($button-brown-icon, 10%)

.button-yellow
    background-color: $button-yellow-front
    border-color: $button-yellow-back
    
    .icon
        background-color $button-yellow-icon
        border-right-color $button-yellow-back
    
    &:hover
        background-color $button-yellow-hover
        .icon
            background-color lighten($button-yellow-icon, 10%)

.button-lightgray
    background-color: $button-lightgray-front
    border-color: $button-lightgray-back
    color $button-lightgray-back
    
    .icon
        background-color $button-lightgray-icon
        border-right-color $button-lightgray-back
    
    &:hover
        background-color $button-lightgray-hover
        color $button-lightgray-back

        .icon
            background-color lighten($button-lightgray-icon, 10%)



