// ============================
// BUTTONS STYLE
// ============================

.button_main
    display flex
    flex-direction row
    align-items center
    width 100%
    padding 0
    margin 0    
    text-decoration none
    overflow hidden
    border-radius 5px
    transition all 150ms ease-in

    &:hover
        text-decoration none
        box-shadow 0 5px 20px rgba(0,0,0,.20)

    &-center
        justify-content center

    // Base settings
    &_icon,
    &_title
        display flex
        justify-content center
        align-items center
        padding 10px
        color #fff
        line-height 1

        &-small
            padding-left 10px
            padding-right 10px
            padding-top 7px
            padding-bottom 7px

        &-big
            padding 15px

    &_icon
        background-color rgba(0,0,0,.15)
        font-size 16px

        &-small
            font-size 14px

        &-big
            font-size 24px

    &_title
        font-size 14px
        
        &-big
            font-size 20px
            set-font "semibold"

        &-meddium
            font-size 16px

        &-small
            font-size 12px
            set-font "light"

        &-left
            justify-content flex-start

        &-right
            justify-content flex-end

    // ============================
    // COLOURS STYLE FOR BUTTON
    // ============================

    &_blue
        background-color $button-blue-front
        &:hover
            background-color lighten($button-blue-front, 15%)
    &_green
        background-color $button-green-front
        &:hover
            background-color lighten($button-green-front, 15%)
    &_red
        background-color $button-red-front
        &:hover
            background-color lighten($button-red-front, 15%)
    &_orange
        background-color $button-orange-front
        &:hover
            background-color lighten($button-orange-front, 15%)
    &_purple
        background-color $button-purple-front
        &:hover
            background-color lighten($button-purple-front, 15%)
    &_brown
        background-color $button-brown-front
        &:hover
            background-color lighten($button-brown-front, 15%)
    &_gray
        background-color $button-lightgray-front
        span.button_main_title
            color $button-lightgray-back
        &:hover
            background-color darken($button-lightgray-front, 15%)

    // ============================
    // FONT WIGHT STYLE FOR BUTTON
    // ============================

    &-bold
        set-font("semibold")
    &-light
        set-font("light")
