.checkbox
    position: relative
    display: block
    margin-top: 10px
    margin-bottom: 10px

    & input
        position: absolute
        z-index: -1
        opacity: 0
        margin: 10px 0 0 20px

    &__text
        position: relative
        cursor: pointer
        padding: 0 0 0 65px
        set-font: "regular"
        font-size: 14px
        color: $main-text-color

        &:before
            content: ''
            position: absolute
            top: -2px
            left: 0
            width: 50px
            height: 26px
            border-radius: 13px
            background: #EEEEEE
            box-shadow: inset 0 2px 3px rgba(0,0,0,0.2)
            transition: 0.2s

        &:after
            content: ''
            position: absolute
            top: 0px
            left: 2px
            width: 22px
            height: 22px
            border-radius: 10px
            background-color: #fff
            box-shadow 0 2px 5px rgba(0,0,0,0.3)
            transition .2s

    & input:checked + &__text:before
        background-color: #8BC34A

    & input:checked + &__text:after
        left: 26px
