//- font size generator
get-font-size(list)
    l = (list is a 'unit') ? list : (convert(list) is a 'unit') ? convert(list) : error('Type error. Expect unit, but ' + list + ' is ' + typeof(list))

    for i in 0 .. (length(l) - 1)
        .fs-{l[i]}
            font-size: unit(l[i], 'px')

//- font weight generator
get-font-weight(list)
    l = (list is a 'unit') ? list : (convert(list) is a 'unit') ? convert(list) : error('Type error. Expect unit, but ' + list + ' is ' + typeof(list))

    for i in 0 .. (length(l) - 1)
        .fw-{l[i]}
            font-weight: l[i]

// Font size
get-font-size($font-size-list)

// Font weight
get-font-weight($font-weight-list)

.fw-normal
    font-weight: normal

.fw-bold
    font-weight: bold