.px_T_thin
    font-family: 'ProximaNovaT-Thin', sans-serif
    font-weight: 100;

// ----------------------------
// Regular style
// ----------------------------

.px_regular_thin_italic
    font-family: 'ProximaNova-ThinIt', sans-serif
    font-weight: 100;

.px_regular_light_normal
    font-family: 'ProximaNova-Light', sans-serif
    font-weight: 300;

.px_regular_light_italic
    font-family 'ProximaNova-LightIt', sans-serif
    font-weight 300

.px_regular_regular_normal
    font-family: 'ProximaNova-Regular', sans-serif
    font-weight: normal;

.px_regular_regular_italic
    font-family: 'ProximaNova-RegularIt', sans-serif
    font-weight: normal;

.px_regular_semibold_normal
    font-family: 'ProximaNova-Semibold', sans-serif
    font-weight 600

.px_regular_semibold_italic
    font-family: 'ProximaNova-SemiboldIt', sans-serif
    font-weight: 600;

.px_regular_bold_normal
    font-family: 'ProximaNova-Bold', sans-serif
    font-weight: bold;

.px_regular_bold_italic
    font-family: 'ProximaNova-BoldIt', sans-serif
    font-weight: bold;

.px_regular_extrabold_normal
    font-family: 'ProximaNova-Extrabld', sans-serif
    font-weight: 800;

.px_regular_extrabold_italic
    font-family: 'ProximaNova-ExtrabldIt', sans-serif
    font-weight: 800;

.px_regular_black_normal
    font-family: 'ProximaNova-Black', sans-serif
    font-weight: 900;

.px_regular_black_italic
    font-family: 'ProximaNova-BlackIt', sans-serif
    font-weight: 900;

// ----------------------------
// Condensed style
// ----------------------------

.px_cond_thin_normal
    font-family: 'ProximaNovaCond-Thin', sans-serif
    font-weight: 100;
    font-stretch condensed

.px_cond_thin_italic
    font-family: 'ProximaNovaCond-ThinIt', sans-serif
    font-weight: 100;
    font-stretch condensed

.px_cond_light_normal
    font-family: 'ProximaNovaCond-Light', sans-serif
    font-weight: 300;
    font-stretch condensed

.px_cond_light_italic
    font-family 'ProximaNovaCond-LightIt', sans-serif
    font-weight 300
    font-stretch condensed

.px_cond_regular_normal
    font-family: 'ProximaNovaCond-Regular', sans-serif
    font-weight normal
    font-stretch condensed

.px_cond_regular_italic
    font-family: 'ProximaNovaCond-RegularIt', sans-serif
    font-weight: normal;
    font-stretch condensed

.px_cond_bold_normal
    font-family: 'ProximaNovaCond-Bold', sans-serif
    font-weight: bold;
    font-stretch condensed

.px_cond_bold_italic
    font-family: 'ProximaNovaCond-BoldIt', sans-serif
    font-weight: bold;
    font-stretch condensed

.px_cond_semibold_normal
    font-family: 'ProximaNovaCond-Semibold', sans-serif
    font-weight: 600;
    font-stretch condensed

.px_cond_semibold_italic
    font-family: 'ProximaNovaCond-SemiboldIt', sans-serif
    font-weight: 600;
    font-stretch condensed

.px_cond_black_normal
    font-family: 'ProximaNovaCond-Black', sans-serif
    font-weight: 900;
    font-stretch condensed

.px_cond_black_italic
    font-family: 'ProximaNovaCond-BlackIt', sans-serif
    font-weight: 900;
    font-stretch condensed

.px_cond_extrabold_normal
    font-family: 'ProximaNovaCond-Extrabld', sans-serif
    font-weight: 800;
    font-stretch condensed

.px_cond_extrabold_italic
    font-family: 'ProximaNovaCond-ExtrabldIt', sans-serif
    font-weight: 800;
    font-stretch condensed

// ----------------------------
// ExCondensed style
// ----------------------------

.px_excond_thin_normal
    font-family: 'ProximaNovaExCn-Thin', sans-serif
    font-weight 100;
    font-stretch: extra-condensed

.px_excond_thin_italic
    font-family: 'ProximaNovaExCn-ThinIt', sans-serif
    font-weight: 100;
    font-stretch: extra-condensed

.px_excond_light_normal
    font-family: 'ProximaNovaExCn-Light', sans-serif
    font-weight: 300;
    font-stretch: extra-condensed

.px_excond_light_italic
    font-family: 'ProximaNovaExCn-LightIt', sans-serif
    font-weight: 300;
    font-stretch: extra-condensed

.px_excond_regular_normal
    font-family: 'ProximaNovaExCn-Regular', sans-serif
    font-weight: normal;
    font-stretch: extra-condensed

.px_excond_regular_italic
    font-family: 'ProximaNovaExCn-RegularIt', sans-serif
    font-weight: normal;
    font-stretch: extra-condensed

.px_excond_semibold_normal
    font-family: 'ProximaNovaExCn-Semibold', sans-serif
    font-weight 600;
    font-stretch: extra-condensed

.px_excond_semibold_italic
    font-family: 'ProximaNovaExCn-SemiboldIt', sans-serif
    font-weight 600;
    font-stretch: extra-condensed

.px_excond_bold_normal
    font-family: 'ProximaNovaExCn-Bold', sans-serif
    font-weight: bold;
    font-stretch: extra-condensed

.px_excond_bold_italic
    font-family: 'ProximaNovaExCn-BoldIt', sans-serif
    font-weight: bold;
    font-stretch: extra-condensed

.px_excond_extrabold_normal
    font-family: 'ProximaNovaExCn-Extrabld', sans-serif
    font-weight: 800;
    font-stretch: extra-condensed

.px_excond_extrabold_italic
    font-family: 'ProximaNovaExCn-ExtrabldIt', sans-serif
    font-weight: 800;
    font-stretch: extra-condensed

.px_excond_black_normal
    font-family: 'ProximaNovaExCn-Black', sans-serif
    font-weight: 900;
    font-stretch: extra-condensed

.px_excond_black_italic
    font-family: 'ProximaNovaExCn-BlackIt', sans-serif
    font-weight: 900;
    font-stretch: extra-condensed


//- -------------------------------------
//- Function helper work with font
//- -------------------------------------

set-font(weight, type = 'regular', outline = 'normal')
    name = type + '_' + weight + '_' + outline
    +cache('px_' + name)
        @extend .px_{name}