.form
    &_block
        display flex
        flex-flow column nowrap
        width 100%

    &_group
        display flex
        flex-flow column nowrap
        width 100%
        margin-bottom 15px
        margin-top 15px
        position relative

        &_label
            font-size 16px
            color #455A64
            padding 0
            margin 0
            padding-bottom 5px

        &_input
            width 100%
            font-size 14px
            padding-left 16px
            padding-right 16px
            padding-top 8px
            padding-bottom 8px
            border-radius 5px
            border 1px solid #B0BEC5
            outline none
            color #607D8B
            transition all 200ms ease-in

            &::placeholder
                color #CFD8DC

            &:hover
                border-color $second-color
                box-shadow 0 3px 6px rgba(0,0,0,.16)

            &:focus
                border-color $second-color
                box-shadow 0 3px 10px rgba(0,0,0,.20)

        &_wrapper
            position relative
            width 100%
            display flex

        &_textarea
            min-height 100px

        &_block
            display flex
            width 100%
            flex-flow column nowrap
            margin-bottom 20px

            &_item
                display block
                flex 1

        &_footer
            width 100%

.input_file
    width 0.1px
    height 0.1px
    opacity 0
    overflow hidden
    position absolute
    z-index -1

    &:focus + .input_file_label
        outline none
        border-color $main-color
        box-shadow 0 3px 6px rgba(0,0,0,.16)
        
        .input_file_label_text
            color #607D8B

        .input_file_label_icon
            background-color $main-color

    &_label
        display flex
        border 1px solid $second-color
        border-radius 5px
        width 100%
        align-items center
        padding-left 20px
        transition: all 200ms ease
        cursor pointer

        & *
            pointer-events none

        &:hover
            box-shadow: 0 3px 10px rgba(0,0,0,.2)

        &_text
            display block
            flex-grow 1
            font-size 16px
            color #CFD8DC

        &_icon
            padding-right 20px
            padding-left 20px
            padding-top 7px
            padding-bottom 7px
            color #ffffff
            font-size 20px
            background-color $second-color
