/* ------------------------------
    Heading style
   ------------------------------ */
.heading_block
    width 100%
    padding-bottom 30px
    display block

    &_title,
    &_undertitle
        margin 0
        padding 0

    &_title
        font-size 24px
        color #546E7A
        set-font "semibold"
        line-height 29px

    &_undertitle
        font-size 16px
        color #9E9E9E
        set-font "regular"