//- Base helper function
CheckUnit(value)
    return (value is a 'unit') ? value : (convert(value) is a 'unit') ? convert(value) : error('Type error. Expect unit, but ' + value + ' is ' + typeof(value))

CheckIdent(value)
    return (value is a 'ident') ? value : convert(value)

//- position checker
CheckPosition(position)
    pos = convert(position)
    list = left right top bottom
    num = index(list, pos)

    if list[num]
        return list[num]
    else
        error('Unknow position: ' + pos)