html
    font-size: unit($base-font-size, 'px')

html,
body
    height 100%

*
    margin: 0
    padding: 0
    box-sizing border-box
    transition all 150ms ease

body
    set-font: 'regular'
    font-weight: $base-font-weight
    color: $main-text-color
    line-height: $base-line-height
    width: 100%
    height: 100%
    display flex
    flex-direction column
    transition all 200ms ease

.content
    flex-grow: 1

.text
    &-left
        text-align: left
    &-right
        text-align: right
    &-center
        text-align: center

.right
    float: right
.left
    float: left

.center-block
    display: block
    margin-right: auto
    margin-left: auto

.clearfix
    content: ' '
    display: table
    box-sizing: border-box
    clear: both

.center
    display: block
    margin: 0 auto
    width: 300px

.corner-radius-5
    border-radius: 5px

// Links
a
    text-decoration none
    color $main-text-color
    
    &:hover
        text-decoration: underline
        color $second-color

a.clear-link
    &:hover
        text-decoration none    
        color $main-text-color

a.link-green
    color $main-color
    &:hover
        color lighten($main-color, 10%)

a.link-blue
    color $second-color
    &:hover
        color lighten($second-color, 10%)

a.link-with-underline
    text-decoration underline
    &:hover
        text-decoration underline

// Base shadow
.bs-3
    box-shadow: 0 3px 6px rgba(0,0,0,.2)
    transition: all .2s ease-in
    
    &:hover
        box-shadow: 0 10px 20px rgba(0,0,0,.25)

.bs-10
    box-shadow: 0 10px 20px rgba(0,0,0,.25)

.bs-30
    box-shadow: 0 10px 30px rgba(0,0,0,.40)

// Border radius 
.br-5
    border-radius: 5px

.splitter_block
    display block
    margin-bottom 20px
    margin-top 20px
    border-bottom 1px dotted rgba(0,0,0,.2)
    @extends .clearfix

.styleguide_section_inject
    padding-left 30px
    padding-right 30px
    padding-top 20px
    padding-bottom 20px
    border-radius 10px
    margin-left 30px
    box-shadow 0 3px 6px rgba(0,0,0,.1)
    box-sizing border-box
    background-color #fff