//- padding generate
GetMarginWhithSides(start, end, step, position)
    s    = CheckUnit(start)
    e    = CheckUnit(end)
    step = CheckUnit(step)
    pos  = CheckIdent(position)

    for i in 0 .. (length(pos) - 1)
        tempPosition = pos[i]
        for j in range(s, e, step)
            .m{substr(tempPosition , 0, 1)}-{j}
                margin-{tempPosition} j !important

GetStandartMargin(start, end, step)
    s    = CheckUnit(start)
    e    = CheckUnit(end)
    step = CheckUnit(step)

    for j in range(s, e, step)
        .m-{j}
            margin unit(j, 'px') !important

// Margin
GetMarginWhithSides(margin-start, margin-end, margin-step, margin-side)
GetStandartMargin(margin-start, margin-end, margin-step)