//- Px to Rem
PxToRem(value)
    v = CheckUnit(value)
    result = v / $base-font-size
    return round(unit(result, 'rem'), 3)

//- Border raduis custom
custom-border-radius(pairs)
    for side, value in pairs
        border-{side}-radius value

custom-border-width(pairs)
    for side, value in pairs
        border-{side}-width value