//- padding generate
GetPaddingWithSides(start, end, step, position)
    s    = CheckUnit(start)
    e    = CheckUnit(end)
    step = CheckUnit(step)
    pos  = CheckIdent(position)

    for i in 0 .. (length(pos) - 1)
        tempPosition = CheckPosition(pos[i]);
        for j in range(s, e, step)
            .p{substr(tempPosition , 0, 1)}-{j}
                padding-{tempPosition} j !important

GetStandartPadding(start, end, step)
    s    = CheckUnit(start)
    e    = CheckUnit(end)
    step = CheckUnit(step)

    for i in range(s, e, step)
        .p-{i}
            padding unit(i, 'px') !important 

// Padding
GetPaddingWithSides(padding-start, padding-end, padding-step, padding-side)
GetStandartPadding(padding-start, padding-end, padding-step)