.rating__star
    display block
    width 100%
    margin-top 10px
    margin-bottom 10px

    i
        color $light_grayblue
        font-size: 16px
        margin-right: 3px
        cursor pointer

        &.rating__star_checked
            color $gold
            