.table_block
    width 100%
    border-collapse collapse

    &_showcase
        thead
            th
                &:nth-child(5)
                    width 120px
        tbody
            td
                padding-left 5px
                padding-right 5px

                &:first-child
                    padding-right 0
                &:last-child
                    padding-left 0

                &:nth-child(1)
                    text-align left
                &:nth-child(2)
                    text-align right
                &:nth-child(3)
                    text-align center
                &:nth-child(4)
                    text-align right
                &:nth-child(5)
                    text-align center
                
                

    &_naming
        width 100%
        display flex
        flex-flow column nowrap
        padding-left 10px

        &_title
            set-font("semibold")
            font-size 14px

        &_company
            set-font("light")
            font-size 12px

        &_title,
        &_company
            line-height 1.1
            display block

    &_count
        set-font("regular")
        font-size 14px
        color #263238

    &_edit
        display flex
        flex-flow row nowrap
        padding-left 10px

        &_item
            display block
            padding-left 10px
            font-size 18px
            transition color 200ms ease-in

            &-red
                color $red
                &:hover
                    color darken($red, 20%)

            &-orange
                color $orange
                &:hover
                    color darken($orange, 20%)

    &_price
        display flex
        flex-flow column nowrap

        &_saleprice,
        &_fullprice
            display block
            margin 0
            padding 0
            line-height 18px
            &_currency
                padding-left 5px

        &_saleprice
            font-size 16px
            color $gray-text-color
            text-decoration line-through
            &_currency
                font-size 15px

        &_fullprice
            set-font("semibold")
            font-size 18px
            color #263238
            &-onsale
                color $red2
            &_currency
                font-size 16px

    &_head-dark
        background-color #546E7A
        th
            color #fff !important

    thead
        width 100%
        tr
            th
                font-size 14px
                color #546E7A
                line-height 1.1
                text-align center
                height 50px
                set-font("regular")
    tbody
        tr
            transition all 200ms ease

            &:nth-child(even)
                background-color #DDDDDD

            &:nth-child(odd)
                background-color #F2F2F2
            &:hover
                background-color lighten(#546E7A, 60%)
            td
                height 60px
                vertical-align middle 