h1, h2, h3, h4, h5, h6
    set-font: 'semibold'
    color $base-heading-color

    & small
        color: $base-heading-small-color
        set-font: 'light'
        display block

h1, h2, h3
    @extend .mb-10
    @extend .mt-20

h1
    font-size: PxToRem(36)
    line-height: PxToRem(42)

    & small
        font-size: 50%

h2
    font-size: PxToRem(30)
    line-height: PxToRem(40)

    & small
        font-size: 60%

h3
    font-size: PxToRem(24)
    line-height: PxToRem(35)

    & small
        font-size: 70%

h4
    font-size: PxToRem(18)
    line-height: PxToRem(30)

    & small
        font-size: 80%

h5
    font-size: PxToRem(14)
    line-height: PxToRem(25)

    & small
        font-size: 90%

h6
    font-size: PxToRem(12)
    line-height: PxToRem(20)

    & small
        font-size: 90%