//- Generate classes for vertical aligment
GenerateVerticalAligmentBase()
    pos = 'top bottom middle'
    for name in pos
        .va-{name}
            vertical-align: {name}

//- Vertical aligment base
GenerateVerticalAligmentBase()