.wblock
    display block
    width 100%
    transition all 200ms ease-in
    cursor pointer

    &-wrapper
        display flex
        flex-direction row
        width 100%
        padding 20px
        color #fff

        &__icon
            font-size 2.2rem
            padding-right 20px
            @media (min-width: 768px)
                font-size 3.5rem

        &__description
            display block

            span
                display block
                width 100%

            &_title
                font-size 1.2rem
                set-font "bold"
                padding 0
                margin 0
                padding-bottom 10px
                @media (min-width: 768px)
                    padding-bottom 15px
                    font-size 1.5rem
                @media (min-width: 992px)
                    font-size 2rem
            &_text
                font-size 13px
                set-font "regular"
        
    &:hover
        box-shadow 0 PxToRem(8) 20px rgba(0,0,0,.2)

    &-error
        background-color: $red
        border-color: $deep_red

    &-warning
        background-color: $orange
        border-color: $deep_orange

    &-info
        background-color: $blue
        border-color: $deep_blue

    &-success
        background-color: $green
        border-color: $deep_green