.navigation-vertical__category_menu
    position absolute
    width 100%
    z-index 1001
    top 180px
    left 0
    transition all 0.1s ease-in


    .navigation-vertical
        justify-content: center
        display flex
        position relative
        box-shadow: 0 10px 20px -5px rgba(0,0,0,.25)
        background-color #fff
        min-width 990px
        padding-left 140px

        &-category
            padding 15px 0 24px
            min-width: 300px
            margin-right 15px

            &__link
                font-size 14px
                position relative
                display block
                width 100%
                padding 8px
                word-wrap break-word

                .link__image
                    display inline-block
                    width 48px
                    min-height 36px
                    vertical-align middle

                    img
                        max-width 100%

                .link__title
                    margin-left 20px
                    word-wrap break-word
                    display inline-block

        &-menu
            min-width 684px
            border-left 1px solid $light-gray-color
            padding 15px 0 0 15px

            &__block
                width 100%

                &:first-child
                    display block

            &__column_container
                column-count 2

            &__column
                display table
                padding 0 56px 24px 0
                -webkit-break-inside avoid
                page-break-inside avoid
                break-inside avoid

            &__link
                color $second-color
                cursor pointer
                font-size 14px
                position relative
                display block
                width 100%
                padding 8px
                white-space nowrap
                set-font 'semibold'

                &:hover
                    text-decoration none
                    color $orange

                .link__image
                    display inline-block
                    width 48px
                    min-height 36px
                    vertical-align middle

                .link__title
                    margin-left 16px
            
            &__inner
                padding-left 74px

            &__item
                padding 4px 0
                display block
                font-size 14px
                line-height 18px

.js_hover_no
    set-font: 'regular'
    color $main-text-color
    text-decoration none

.js_hover_yes
    set-font 'semibold'
    text-decoration none
    color $second-color

.js_menu_visible_no
    display none !important

.js_menu_visible_yes
    display block !important