mixin catalog_menu(data)
    .navigation-vertical__category_menu.collapse#catalog-menu.dropdown
        .navigation-vertical
            .navigation-vertical-category
                each submenu in data
                    a.navigation-vertical-category__link.js_hover_no(href="#{submenu.link}", data-id="#{submenu.id}")
                        .link__image
                            img(src="#{submenu.icon}", alt="")
                        span.link__title #{submenu.title}
            .navigation-vertical-menu
                each main in data
                    .navigation-vertical-menu__block.js_menu_visible_no(data-id="#{main.id}")
                        .navigation-vertical-menu__column_container
                            each sbm in main.submenu
                                .navigation-vertical-menu__column
                                    a.navigation-vertical-menu__link(href="#{sbm.link}") 
                                        .link__image
                                            img(src="https://dummyimage.com/48x48/E0E0E0/757575", alt="")
                                        span.link__title #{sbm.title}
                                    .navigation-vertical-menu__inner
                                        each inner in sbm.submenu
                                            a.navigation-vertical-menu__item(href="#{inner.link}") #{inner.title}