.header2
    background-color: $light-gray-color
    z-index 10
    display table
    box-sizing border-box
    width 100%
    height 120px
    padding 30px 0

    &__logo
        a
            text-decoration none
            cursor pointer

            img
                width 100%
                height 50px

    &__wrapper
        display flex
        flex-grow 2
        height 50px

        &-navigation
            display inline-block
            margin 0

            a,
            a:hover,
            a:link
            a:active,
            a:visited
                text-decoration none
                color: white

            a
                font-size 20px
                padding 9px 28px
                background-color $main-color
                border-radius 5px 0 0 5px
                border 2px solid $main-color
                display block
                box-sizing border-box
                transition all 120ms ease-in

                &:hover
                    background-color lighten($main-color, 10%)
                
        &-search
            display block
            width 100%
            position relative

            .search
                &__input,
                &__button
                    display table-cell

                &__input
                    width 100%
                    vertical-align top

                    .input
                        position relative
                        display inline-block
                        width 100%
                        font-size 16px

                        ::placeholder
                            font-style italic
                            color $gray-text-color

                        &__box
                            //margin-right 30px
                            cursor text
                            display block
                            position relative

                            input
                                font-size 14px
                                line-height 16px
                                padding-left 30px
                                padding-right 15px
                                z-index 3
                                width 100%
                                vertical-align top
                                border 0 solid transparent
                                outline 0
                                position relative
                                box-sizing border-box
                                height 50px
                                background-color $light_grayblue
                                border-color $grayblue
                                border-style solid
                                custom-border-width: { top: 2px, bottom: 2px }

                                &:focus
                                    outline 2px solid $main-color

                            .input__clear
                                position absolute
                                visibility: hidden
                                top 0
                                right 0
                                z-index 4
                                height 50px
                                width 50px
                                color $gray-text-color
                                font-size 25px
                                line-height 50px
                                text-align center
                                pointer-events: none
                                color #fff

                                &_visibility_visible
                                    visibility: visible
                                    cursor: pointer
                                    pointer-events: auto
                                    opacity: .3
                                    transition: opacity .1s easy-out

                &__button
                    button
                        cursor pointer
                        display inline-block
                        overflow visible
                        margin 0
                        padding 0 25px
                        user-select none
                        text-align center
                        white-space nowrap
                        text-decoration none
                        position relative
                        z-index 0
                        color #fff
                        border none
                        outline none
                        background $main-color
                        custom-border-radius: { top-right: 5px, bottom-right: 5px } 
                        // width 50px
                        height 50px
                        font-size 20px

                        &:hover
                            background lighten($main-color, 10%)

.nav-catalog__active
    background-color #fff !important
    color $main-color !important
    padding: 9px 28px !important