/* Old sty;e for product block
.product
	display block

	&__wrapper
		position: relative
		box-shadow: 0 3px 6px rgba(0,0,0,.16)
		border-radius: 5px
		// todo: Remove this later
		height: 375px
		transition: box-shadow .2s ease-in

		&:hover
			box-shadow: 0 10px 25px rgba(0,0,0,0.2)

			.product__content_footer
				.button__more
					.button
						@extend .button-blue
						color #fff !important

		.product__image

			img
				width 100%
				height 125px
				background-size: cover
				custom-border-radius: { top-left: 5px, top-right: 5px }

			.ratio__icon
				position absolute
				width 40px
				height 40px
				background-color #0059B2
				border-radius 20px
				top 10px
				left 10px
				z-index 4
				text-align center
				box-shadow: 0 0 6px rgba(0,0,0,.5)

				i
					font-size: 20px
					line-height 40px
					color $gold

		.product__content
			position relative
			min-height: 250px
			padding 15px 15px 70px 15px

			&_header
				a
					display block
					width 100%

				.product__name
					font-size 20px
					color $base-heading-color
					line-height 20px
					margin 0
					padding 0
					set-font: 'semibold'

				.company__name
					color $base-heading-small-color
					font-size 12px

			&_footer
				display block
				position absolute
				bottom 15px
				padding-right 15px
				padding-left 15px
				left 0
				width 100%

				.icons,
				.buttons__more
					display inline-block
					height 36px

				.icons
					i
						margin-right 15px
						cursor pointer
						color $blue2
						font-size 18px
						line-height 36px

						&:last-child
							margin-right 0
							color $orange

						&:hover
							color $red2

			&_price
				width 100%
				text-align right
				display block
				position absolute
				bottom 75px
				padding-right 15px
				right 0

				.sale__price,
				.normal__price
					display block
					margin 0
					padding 0
					line-height 32px

					i
						padding-left 5px

				.normal__price
					font-size: 36px
					set-font: 'semibold'
					color $brown

					i
						font-size: 32px

					&_onsale
						color $red

				.sale__price
					font-size 20px
					color $gray-text-color
					text-decoration line-through

					i
						font-size 18px
*/

/* ---  Sale label style --- */
.sale__label
	text-align center
	display block
	position absolute
	top -2px
	right 10px
	background url("../img/sale_label.png") no-repeat 0 0
	width 53px
	height 58px
	z-index 10
	padding-left: 3px
	padding-top 10px
	set-font: 'bold', 'cond'

	span
		display block
		padding 0
		margin 0
		line-height 18px

	&_value
		color #fff
		font-size: 24px
		padding 0
		margin 0
	&_text
		text-transform uppercase
		color $main-text-color
		font-size 11px

// new style for product block

/* ---  Main product block style --- */
.product_block
	display block
	width 100%
	position relative
	box-shadow: 0 3px 6px rgba(0,0,0,.16)
	border-radius: 5px
	height: 375px
	transition: box-shadow .2s ease-in

	&:hover
		box-shadow 0 10px 25px rgba(0,0,0,.2)

		.product_block_content_footer
			&_button
				.button
					@extend .button-blue
					color #fff !important

	&_image,
	&_content,
	&_content_price,
	&_content_rating,
	&_content_header,
	&_content_footer
		width 100%

	&_image
		width 100%
		height 125px
		custom-border-radius: { top-left: 5px, top-right: 5px }
		overflow hidden

		img
			width 100% 
			height 100%
			background-size cover

		&_ratio
			position absolute
			width 40px
			height 40px
			background-color #0059B2
			border-radius 20px
			top 10px
			left 10px
			z-index 4
			text-align center
			box-shadow: 0 0 6px rgba(0,0,0,.5)

			&_icon
				font-size 20px
				line-height 40px
				color $gold

	&_content
		position relative
		min-height 250px
		padding-left 15px
		padding-right 15px
		padding-top 15px
		padding-bottom 70px

		&_header
			&_productname,
			&_companyname
				display block
				width 100%
				margin 0
				padding 0
				transition all 250ms ease-in

				&:hover
					color $orange

			&_productname
				font-size 20px
				line-height 20px
				set-font "semibold"
				color $base-heading-color

			&_companyname
				font-size 12px
				color $base-heading-small-color

		&_price
			text-align right
			display block
			flex-direction row
			position absolute
			bottom 75px
			padding-right 15px
			right 0

			&_saleprice,
			&_fullprice
				display block
				margin 0
				padding 0
				line-height 32px

				&_currency
					padding-left 5px

			&_saleprice
				font-size 20px
				&-enable
					color $gray-text-color
					text-decoration line-through
				&_currency
					font-size 18px

			&_fullprice
				font-size: 36px
				set-font: 'semibold'
				color $brown
				&-onsale
					color $red
				&_currency
					font-size 32px

		&_footer
			display flex
			flex-direction row
			flex-wrap nowrap
			justify-content space-between
			position absolute
			bottom 15px
			padding-right 15px
			padding-left 15px
			left 0
			width 100%

			&_icons,
			&_button
				display block
				height 36px
				
			&_icons
				display flex
				flex-direction row
				align-items center
				justify-content space-between
				padding-right 25px
				width 100%

				&_item
					display block
					font-size 18px
					line-height 20px
					color $blue2
					cursor pointer

					&:hover
						color $red2

					// TODO change later
					&-active
						color $red