mixin search()
    section.header2
        .container
            .row
                .col-md-2.header2__logo
                    a(href="index.html")
                        img(src="img/logo.png", alt="Bigagro.ru")
                .col-md-9.offset-1
                    .header2__wrapper.dropdown.show
                        .header2__wrapper-navigation.text-right
                            a(  data-toggle="collapse",
                                href="#catalog-menu"
                                role="button", 
                                aria-controls="catalog-menu", 
                                aria-expanded="false",
                                class="nav-catalog__toggle")
                                span.navigation__text.mr-20 Каталог
                                i.fas.fa-bars
                        form.header2__wrapper-search
                            span.search__input
                                span.input
                                    span.input__box
                                        input#header2__search_input(type="text", placeholder="Введите для поиска наименование продукта или компании", autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false")
                                        span.input__clear
                                            i.fas.fa-times
                            span.search__button
                                button(role="button", type="submit")
                                    i.fas.fa-search
