mixin tr_table(name, company, count, ratio, price, useSale, sale, check)
    tr
        td 
            .table_block_naming
                a.table_block_naming_title(href="#") #{name}
                a.table_block_naming_company(href="#") #{company}
        td 
            .table_block_count #{count} шт
        td 
            +rating(ratio)
        td 
            .table_block_price
                if useSale
                    - var s_price = parseFloat(price)
                    - var s_sale = parseFloat(sale)
                    - var result = s_price * s_sale * 0.01
                    .table_block_price_saleprice
                        span #{result}
                        i.fas.fa-ruble-sign.table_block_price_saleprice_currency
                    .table_block_price_fullprice.table_block_price_fullprice-onsale
                        span #{price}
                        i.fas.fa-ruble-sign.table_block_price_fullprice_currency
                else
                    .table_block_price_fullprice
                        span #{price}
                        i.fas.fa-ruble-sign.table_block_price_fullprice_currency
        td
            if check
                +n_button_small("Опубликован", "green")(class="button_main-center")
            else
                +n_button_small("Не опубликован", "red")(class="button_main-center")
        td 
            .table_block_edit
                a.table_block_edit_item.table_block_edit_item-orange(href="#")
                    i.fas.fa-edit
                a.table_block_edit_item.table_block_edit_item-red(href="#")
                    i.fas.fa-trash-alt 

mixin ua_showcase_table()
    table.table_block.table_block_showcase
        thead.table_block_head-dark
            tr
                th(scope="col") Наименование
                th(scope="col") Кол-во <br/>продаж
                th(scope="col") Рейтинг
                th(scope="col") Стоимость
                th(scope="col") Статус
                th(scope="col")
        tbody
            +tr_table("Наименование товара", "ООО «Наименование организации»", 1500.00, 3, "456,50", true, 40, false)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 950.00, 5, "1499,90", false, 30, true)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 70.00, 2, "75,50", false, 30, true)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 128.00, 4, "169,90", true, 10, false)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 350.00, 1, "350,90", true, 75, true)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 1500.00, 3, "456,50", true, 40, false)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 950.00, 5, "1499,90", false, 30, true)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 70.00, 2, "75,50", false, 30, true)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 128.00, 4, "169,90", true, 10, false)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 350.00, 1, "350,90", true, 75, true)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 1500.00, 3, "456,50", true, 40, false)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 950.00, 5, "1499,90", false, 30, true)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 70.00, 2, "75,50", false, 30, true)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 128.00, 4, "169,90", true, 10, false)
            +tr_table("Наименование товара", "ООО «Наименование организации»", 350.00, 1, "350,90", true, 75, true)
