include components/connect

doctype html
html(lang="ru")
    head
        +head(head)

    body
        +m_message('Данные вашей организации подтвержденны','Последующая проверка не требуется', "success", "modal_message_success")
        +m_checkcompany("modal_checkcompany_block")
        +m_add_company("modal_add_company_block")
        .content
            +header(header)
            +search()

            // user cabinet start

            .cabinet_tabs.light_gray_blue
                .container
                    // tabs start
                    .tabs_block.pb-0
                        // tabs item
                        label.tabs_block_item.tabs_block_item-active Ветрина
                        label.tabs_block_item Организация
                        label.tabs_block_item История сделок
                        label.tabs_block_item Избранное
                        label.tabs_block_item Поддержка
                        label.tabs_block_item Дополнительный
            .container
                .tabs_block.pt-20.pb-0
                    // Ветрина
                    // tabs wrapper block start
                    .tabs_block_wrapper.tabs_block_wrapper-active
                        .row
                            .col-md-3
                                .company_info_block
                                    .company_info_block_image
                                        img(src="https://placehold.it/276x276?text=Logo%20Company")
                                        .company_info_block_image_options
                                            a.company_info_block_image_options_item(href="")
                                                i.fas.fa-pen-square
                                            a.company_info_block_image_options_item(href="")
                                                i.fas.fa-download
                                            a.company_info_block_image_options_item(href="")
                                                i.fas.fa-times-circle
                                    .company_info_block_content
                            .col-md-9
                                .heading_block
                                    .heading_block_title Ваша ветрина
                                    .heading_block_undertitle В данной вкладке отображается все выставленные товары

                                .cabinet_add_product_button
                                    +button("Добавить товар", "blue")

                                .cabinet_table_wrapper
                                    +ua_showcase_table()

                    // tabs wrapper block end

                    // Организация
                    // tabs wrapper block start
                    .tabs_block_wrapper
                        .container
                            .heading_block
                                .heading_block_title Ваша организация
                                .heading_block_undertitle В данной вкладке вы можете настроить реквезиты ваших организаций
                            .row
                                .col-md-4
                                    +button("Добавить новую организацию", "blue")(role="button", data-toggle="modal" data-target="#modal_add_company_block")
                        // organization block start
                        .organization_block
                            // organization block item start
                            .organization_block_wrapper
                                .organization_block_wrapper_content
                                    // organization logotype block start
                                    .organization_block_wrapper_content_logo
                                        .organization_block_wrapper_content_logo_image
                                            img(src="https://picsum.photos/174/174", alt="organization logo")
                                        .organization_block_wrapper_content_logo_button
                                            +n_button_small("Не подтвержденно", "orange", "#", true, "fas fa-exclamation-triangle")(role="button", data-toggle="modal" data-target="#modal_checkcompany_block")
                                    // organization logotype block end
                                    // organization description block start
                                    .organization_block_wrapper_content_desc
                                        +heading_block("ООО Примерная организация", "Общество с ограниченной ответственностью Примерная организация")
                                        .organization_block_wrapper_content_desc_text
                                            <b>ИНН / КПП:</b> 6682000562 / 668201001<br/>
                                            <b>ОГРН:</b> 01234567890123456789<br/>
                                            <b>Юридический адрес:</b> Свердловская обл, г Новоуральск, ул Автозаводская, д 33Г<br/>
                                            <b>Фактический адрес:</b> Свердловская обл, г Новоуральск, ул Автозаводская, д 33Г<br/><br/>
                                            span <b>Контактная информация:</b><br/>
                                            <b>Телефон:</b> +7 (34370) 2-90-50<br/>
                                            <b>Факс:</b> +7 (34370) 2-90-49
                                    // organization description block end
                                    // organization buttons controls block start
                                    .organization_block_wrapper_content_buttons
                                        .organization_block_wrapper_content_buttons_item
                                            +n_button("Подробнее", "blue", "#", true, "fas fa-exclamation-circle")
                                        .organization_block_wrapper_content_buttons_item
                                            +n_button("Редактировать", "orange", "#", true, "fas fa-edit")
                                        .organization_block_wrapper_content_buttons_item
                                            +n_button("Удалить", "red", "#", true, "fas fa-trash")
                                    // organization buttons controls block end
                            // organization block item end
                            // organization block item start
                            .organization_block_wrapper
                                .organization_block_wrapper_content
                                    // organization logotype block start
                                    .organization_block_wrapper_content_logo
                                        .organization_block_wrapper_content_logo_image
                                            img(src="https://picsum.photos/174/174", alt="organization logo")
                                        .organization_block_wrapper_content_logo_button
                                            +n_button_small("Подтвержденно", "green", "#", true, "far fa-check-circle")(role="button", data-toggle="modal" data-target="#modal_message_success")
                                    // organization logotype block end
                                    // organization description block start
                                    .organization_block_wrapper_content_desc
                                        +heading_block("ООО Примерная организация", "Общество с ограниченной ответственностью Примерная организация")
                                        .organization_block_wrapper_content_desc_text
                                            <b>ИНН / КПП:</b> 6682000562 / 668201001<br/>
                                            <b>ОГРН:</b> 01234567890123456789<br/>
                                            <b>Юридический адрес:</b> Свердловская обл, г Новоуральск, ул Автозаводская, д 33Г<br/>
                                            <b>Фактический адрес:</b> Свердловская обл, г Новоуральск, ул Автозаводская, д 33Г<br/><br/>
                                            span <b>Контактная информация:</b><br/>
                                            <b>Телефон:</b> +7 (34370) 2-90-50<br/>
                                            <b>Факс:</b> +7 (34370) 2-90-49
                                    // organization description block end
                                    // organization buttons controls block start
                                    .organization_block_wrapper_content_buttons
                                        .organization_block_wrapper_content_buttons_item
                                            +n_button("Подробнее", "blue", "#", true, "fas fa-exclamation-circle")
                                        .organization_block_wrapper_content_buttons_item
                                            +n_button("Редактировать", "orange", "#", true, "fas fa-edit")
                                        .organization_block_wrapper_content_buttons_item
                                            +n_button("Удалить", "red", "#", true, "fas fa-trash")
                                    // organization buttons controls block end
                            // organization block item end
                        // organization block end
                    // tabs wrapper block end

                    // История сделок
                    // tabs wrapper block start
                    .tabs_block_wrapper
                        h2 История сделок
                    // tabs wrapper block end

                    // Избранное
                    // tabs wrapper block start
                    .tabs_block_wrapper
                    // tabs wrapper block end

                    // Поддержка
                    // tabs wrapper block start
                    .tabs_block_wrapper
                    // tabs wrapper block end

                    // Дополнительный
                    // tabs wrapper block start
                    .tabs_block_wrapper
                    // tabs wrapper block end
                    
                // tabs end

            // user cabinet end

            +catalog_menu(catalog_menu)

        footer
        +add_scripts()