include components/connect
    
doctype html
html(lang="ru")
    head
        +head(head)

    body
        .content
            +header(header)
            +search()
            
            section.pt-60.pb-60
                .container
                    .row
                        .col-md-12
                            h3 StyleGuide
                    .row
                        .col-md-12
                            a(href="style-guide.html") Link to styleguide
                    .row.pt-20
                        .col-md-12
                            h3 Личный кабинет
                    .row
                        .col-md-12
                            a(href="cabinet.html") Link to user cabinet


            section.pt-60.pb-60.light_gray_blue
                .container
                    .row
                        +section_title(heading.category)
                    .row
                        .col-md-2
                            +catalog_label(catalog.vegetables)
                        .col-md-2
                            +catalog_label(catalog.beans)
                        .col-md-2
                            +catalog_label(catalog.greenery)
                        .col-md-2
                            +catalog_label(catalog.mushrooms)
                        .col-md-2
                            +catalog_label(catalog.honey)
                        .col-md-2
                            +catalog_label(catalog.oil)

            section.container.mt-60.mb-60
                .row
                    +section_title(heading.popular)
                .row
                    .col-md-3
                        +product(products.p1)
                    .col-md-3
                        +product(products.p2)
                    .col-md-3
                        +product(products.p3)
                    .col-md-3
                        +product(products.p4)

            section.container.mt-60.mb-60
                .row
                    +section_title(heading.sales)
                .row
                    .col-md-3
                        +product(products.s1)
                    .col-md-3
                        +product(products.s2)
                    .col-md-3
                        +product(products.s3)
                    .col-md-3
                        +product(products.s4)

            +catalog_menu(catalog_menu)

        footer

        +add_scripts()