include components/connect

doctype html
html(lang="ru")
    head
        +head(head)

    body
        .content.login-registration__bg
            // header start
            +header(header)
            // header end

            // search and menu start
            +search()
            // search and menu end

            // wrapper start
            section.loggin-section.pt-20.pb-20
                .container
                    .row
                        .col-md-4.enter-form
                            .loggin-section__registration
                                span.registration__title.pb-15 Вы первый раз на сайте?
                                span.registration__button
                                    +button("Регистрация", "blue", "registrationpage.html")
                            +underline_login_form("или")
                            .loggin-section__enter
                                span.enter__title Вход
                                form.form.enter__form.mt-35
                                    +form_input("Email или номер телефона", "email", "example@mail.ru")
                                    +form_input("Пароль", "password", "password")

                                    .form__field
                                        .row
                                            .col-6
                                                +button("Войти", "green")
                                            .col-6.text-right
                                                a.field__link.align-middle.link-green.link-with-underline(href="#") Забыли пароль?

                            +underline_login_form("войти через социальные сети")
                            +social_bar()

                        .col-md-7.offset-md-1
            +catalog_menu(catalog_menu)
            // wrapper end

        // footer start
        footer.dark-blue__bg
            .container
                .row
                    .col-md-4
                    .col-md-7.offset-md-1
                        .footer__image
                            img(src="img/svg/bg image.svg", alt="")
        // footer end
        +add_scripts()
