include components/connect
    
doctype html
html(lang="ru")
    head
        +head(head)

    body
        .content
            +header(header)
            +search()

            +breadcrumbs("Каталог/Наименование категории/Наименование подкатегории/Наименование типа продукта", "/")

            section.product-details
                .container
                    .row
                        .col-md-4
                            .details__images
                                .image__main
                                    .image__wrapper
                                        .image__block.visible
                                            img(src="https://dummyimage.com/375x400/E0E0E0/757575", alt="product title")
                                        .image__block
                                            img(src="https://dummyimage.com/375x400/E0E0E0/757575", alt="product title")
                                        .image__block
                                            img(src="https://dummyimage.com/375x400/E0E0E0/757575", alt="product title")
                                        .image__block
                                            img(src="https://dummyimage.com/375x400/E0E0E0/757575", alt="product title")
                                .image__thumbs
                                    .row
                                        .col-md-3
                                            .thumbs__block
                                                img(src="https://dummyimage.com/72x72/E0E0E0/757575", alt="", class="thumbs")
                                        .col-md-3
                                            .thumbs__block
                                                img(src="https://dummyimage.com/72x72/E0E0E0/757575", alt="", class="thumbs")
                                        .col-md-3
                                            .thumbs__block
                                                img(src="https://dummyimage.com/72x72/E0E0E0/757575", alt="", class="thumbs")
                                        .col-md-3
                                            .thumbs__block
                                                img(src="https://dummyimage.com/72x72/E0E0E0/757575", alt="", class="thumbs")
                        .col-md-8
                            // product header start
                            .product-header
                                .header__title Наименование товара
                                .header__undertitle
                                    .undertitle__item
                                        +rating(4)
                                    .undertitle__item
                                        .item__review
                                            span.icon
                                                i.far.fa-file
                                            span.title
                                                a.link(href="#") 1 Отзыв
                                    .undertitle__item
                                        .item__add_review
                                            span.icon
                                                i.fas.fa-file-signature
                                            span.title
                                                a.link(href="#") Добавить свой отзыв
                            // product header end

                            // product provider start
                            .product-provider
                                .product-provider__title Поставщик:
                                .product-provider__name_provaider
                                    a(href="#") ООО Наименование компании поставщика
                            // product provider end

                            // product price start
                            .product-price
                                .product-price__title Цена:
                                .row.product-price__details
                                    .col-md-6
                                        span.title за 1 шт:
                                    .col-md-6
                                        span.price__block
                                            span.price__text 250,00
                                            span.price__icon
                                                i.fas.fa-ruble-sign
                                .row.product-price__details
                                    .col-md-6
                                        span.title за
                                        span.numbers
                                            input(type="text", placeholder="кол-во")
                                        span.title шт.
                                    .col-md-6
                                        span.price__block
                                            span.price__text 0,00
                                            span.price__icon
                                                i.fas.fa-ruble-sign
                            // product price end

                            // product button start
                            .product-buttons
                                .product-buttons__item
                                    +button_with_icon("Добавить в избранное", "orange", "heart")
                                .product-buttons__item
                                    +button_with_icon("Добавить в корзину", "blue", "cart-plus")
                            // product button end

                            // product tabs start
                            .tabs_block
                                // tabs item
                                label.tabs_block_item.tabs_block_item-active Описание товара
                                label.tabs_block_item Условия доставки
                                label.tabs_block_item Дополнительно
                                label.tabs_block_item Отзывы
                                
                                // tabs wrapper block start
                                .tabs_block_wrapper.tabs_block_wrapper-active
                                    h3.tabs_block_wrapper_heading Some heading
                                    span.tabs_block_wrapper_text.
                                        Varius et mollis nisl sollicitudin libero eros enim laoreet cum accumsan elementum imperdiet viverra pede porta habitant fringilla cum accumsan habitant a imperdiet magnis maecenas in feugiat non felis pede maecenas Phasellus duis vivamus dictum porta. Elementum habitasse.
                                        Tortor viverra pede augue amet risus varius tempus, laoreet netus accumsan curae; habitasse eros, dictum sapien sociosqu adipiscing facilisis consectetuer quis purus sociis condimentum elementum interdum vulputate diam convallis vulputate semper risus eros. Fames ipsum a a vitae aliquam.
                                        Lobortis. Iaculis sit augue. Mauris eget lacinia ridiculus convallis nullam nascetur mollis lacus libero litora suscipit potenti praesent feugiat. Vestibulum nisl feugiat libero.
                                // tabs wrapper block end
                                // tabs wrapper block start
                                .tabs_block_wrapper
                                    h3.tabs_block_wrapper_heading Условия доставки
                                    span.tabs_block_wrapper_text.
                                        Varius et mollis nisl sollicitudin libero eros enim laoreet cum accumsan elementum imperdiet viverra pede porta habitant fringilla cum accumsan habitant a imperdiet magnis maecenas in feugiat non felis pede maecenas Phasellus duis vivamus dictum porta. Elementum habitasse.
                                        Tortor viverra pede augue amet risus varius tempus, laoreet netus accumsan curae; habitasse eros, dictum sapien sociosqu adipiscing facilisis consectetuer quis purus sociis condimentum elementum interdum vulputate diam convallis vulputate semper risus eros. Fames ipsum a a vitae aliquam.
                                        Lobortis. Iaculis sit augue. Mauris eget lacinia ridiculus convallis nullam nascetur mollis lacus libero litora suscipit potenti praesent feugiat. Vestibulum nisl feugiat libero.
                                // tabs wrapper block end
                                // tabs wrapper block start
                                .tabs_block_wrapper
                                // tabs wrapper block end
                                // tabs wrapper block start
                                .tabs_block_wrapper
                                    // comment block start
                                    .comment_block
                                        .comment_block_left
                                            .comment_block_left_rating
                                                +rating(4)
                                            .comment_block_left_user
                                                a.comment_block_left_user_name(href="#") Имя пользователя
                                                .comment_block_left_user_datetime 24 июля 2018 г. 12:48
                                            .comment_block_left_complaint
                                                a.comment_block_left_complaint_link(href="#")
                                                    i.comment_block_left_complaint_link_icon(class="fas fa-exclamation-triangle")
                                                    span.comment_block_left_complaint_link_title Пожаловаться
                                        .comment_block_right
                                            .comment_block_right_wrapper
                                                span.comment_block_right_wrapper_heading Достоинства
                                                span.comment_block_right_wrapper_description.
                                                    In hac habitasse platea dictumst. Vestibulum aliquam luctus ex. 
                                                    Duis molestie nec quam eget mollis. Duis pellentesque consequat risus. 
                                                    Vestibulum enim justo, porttitor eu ligula vitae, scelerisque vulputate justo. 
                                                    Sed rutrum, tortor non aliquam aliquet, dolor dui cursus mi, quis efficitur arcu turpis varius purus. 
                                                    Nam vel massa eget risus ullamcorper faucibus rutrum sed augue.
                                            .comment_block_right_wrapper
                                                span.comment_block_right_wrapper_heading Недостатки
                                                span.comment_block_right_wrapper_description.
                                                    Fusce efficitur dolor sit amet tortor aliquet vehicula. Suspendisse eu risus nibh. Aliquam erat volutpat. Aenean mollis ligula sed turpis iaculis blandit. Donec eleifend sapien neque, ut molestie velit condimentum eu.
                                            .comment_block_right_wrapper
                                                span.comment_block_right_wrapper_heading Комментарий
                                                span.comment_block_right_wrapper_description.
                                                    Fusce vitae convallis dolor. Nullam erat lorem, volutpat a odio rhoncus, dignissim dapibus odio. Duis sem metus, ultricies quis tristique at, consectetur in nibh. Sed cursus, nulla eget aliquet condimentum, nisi purus faucibus nisi, eget ullamcorper leo enim id magna. Suspendisse maximus tellus dolor, id scelerisque risus gravida at. Ut id tellus magna. Cras quis malesuada eros. Pellentesque ut purus et nisl tincidunt molestie. Sed consectetur velit lacus, ut pulvinar enim eleifend sit amet. Sed hendrerit magna ac accumsan bibendum. Curabitur varius aliquam faucibus. Maecenas lobortis, nunc a imperdiet imperdiet, metus libero blandit nisl, id vestibulum mauris ex a arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                                    // comment block end

                                    // comment block start
                                    .comment_block
                                        .comment_block_left
                                            .comment_block_left_rating
                                                +rating(4)
                                            .comment_block_left_user
                                                a.comment_block_left_user_name(href="#") Имя пользователя
                                                .comment_block_left_user_datetime 24 июля 2018 г. 12:48
                                            .comment_block_left_complaint
                                                a.comment_block_left_complaint_link(href="#")
                                                    i.comment_block_left_complaint_link_icon(class="fas fa-exclamation-triangle")
                                                    span.comment_block_left_complaint_link_title Пожаловаться
                                        .comment_block_right
                                            .comment_block_right_wrapper
                                                span.comment_block_right_wrapper_heading Достоинства
                                                span.comment_block_right_wrapper_description.
                                                    Nam vel massa eget risus ullamcorper faucibus rutrum sed augue.
                                            .comment_block_right_wrapper
                                                span.comment_block_right_wrapper_heading Недостатки
                                                span.comment_block_right_wrapper_description.
                                                    Fusce efficitur dolor sit amet tortor aliquet vehicula. Suspendisse eu risus nibh. Aliquam erat volutpat. Aenean mollis ligula sed turpis iaculis blandit. Donec eleifend sapien neque, ut molestie velit condimentum eu.
                                            .comment_block_right_wrapper
                                                span.comment_block_right_wrapper_heading Комментарий
                                                span.comment_block_right_wrapper_description.
                                                    Fusce vitae convallis dolor. Nullam erat lorem, volutpat a odio rhoncus, dignissim dapibus odio. Duis sem metus, ultricies quis tristique at, consectetur in nibh. Sed cursus, nulla eget aliquet condimentum, nisi purus faucibus nisi, eget ullamcorper leo enim id magna. Suspendisse maximus tellus dolor, id scelerisque risus gravida at. Ut id tellus magna. Cras quis malesuada eros. Pellentesque ut purus et nisl tincidunt molestie. Sed consectetur velit lacus, ut pulvinar enim eleifend sit amet. Sed hendrerit magna ac accumsan bibendum. Curabitur varius aliquam faucibus. Maecenas lobortis, nunc a imperdiet imperdiet, metus libero blandit nisl, id vestibulum mauris ex a arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                                    // comment block end

                                    // comment block start
                                    .comment_block
                                        .comment_block_left
                                            .comment_block_left_rating
                                                +rating(4)
                                            .comment_block_left_user
                                                a.comment_block_left_user_name(href="#") Имя пользователя
                                                .comment_block_left_user_datetime 24 июля 2018 г. 12:48
                                            .comment_block_left_complaint
                                                a.comment_block_left_complaint_link(href="#")
                                                    i.comment_block_left_complaint_link_icon(class="fas fa-exclamation-triangle")
                                                    span.comment_block_left_complaint_link_title Пожаловаться
                                        .comment_block_right
                                            .comment_block_right_wrapper
                                                span.comment_block_right_wrapper_heading Достоинства
                                                span.comment_block_right_wrapper_description.
                                                    Nam vel massa eget risus ullamcorper faucibus rutrum sed augue.
                                            .comment_block_right_wrapper
                                                span.comment_block_right_wrapper_heading Недостатки
                                                span.comment_block_right_wrapper_description.
                                                    Fusce efficitur dolor sit amet tortor aliquet vehicula. Suspendisse eu risus nibh. Aliquam erat volutpat. Aenean mollis ligula sed turpis iaculis blandit. Donec eleifend sapien neque, ut molestie velit condimentum eu.
                                            .comment_block_right_wrapper
                                                span.comment_block_right_wrapper_heading Комментарий
                                                span.comment_block_right_wrapper_description.
                                                    Fusce vitae convallis dolor. Nullam erat lorem, volutpat a odio rhoncus, dignissim dapibus odio. Duis sem metus, ultricies quis tristique at, consectetur in nibh. Sed cursus, nulla eget aliquet condimentum, nisi purus faucibus nisi, eget ullamcorper leo enim id magna. Suspendisse maximus tellus dolor, id scelerisque risus gravida at. Ut id tellus magna. Cras quis malesuada eros. Pellentesque ut purus et nisl tincidunt molestie. Sed consectetur velit lacus, ut pulvinar enim eleifend sit amet. Sed hendrerit magna ac accumsan bibendum. Curabitur varius aliquam faucibus. Maecenas lobortis, nunc a imperdiet imperdiet, metus libero blandit nisl, id vestibulum mauris ex a arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                                    // comment block end
                                // tabs wrapper block end
                            // product tabs end



            +catalog_menu(catalog_menu)

        footer
        +add_scripts()