include components/connect

doctype html
html(lang="ru")
    head
        +head(head)

    body
        .content.login-registration__bg
            // header start
            +header(header)
            // header end

            // search and menu start
            +search()
            // search and menu end

            // wrapper start
            section.loggin-section.pt-20.pb-20
                .container
                    .row
                        .col-md-4
                            .loggin-section__registration
                                span.registration__title.pb-15 Уже зарегистрированны?
                                span.registration__button
                                    +button("Войти", "blue", "loginpage.html")
                            .loggin-section__line
                                span.line__content или
                            .loggin-section__enter
                                span.enter__title Зарегистрироваться
                                form.form.enter__form.mt-35.pb-25
                                    +form_input("Номер телефона", "tel", "123 456 78 90")
                                    +form_input("Пароль", "password", "password")
                                    +form_input("Повторите пароль", "password", "re-enter password")

                                    .form__field
                                        .row.justify-content-center
                                            .col-md-8
                                                +button("Зарегистрироваться", "green")

                            //- +underline_login_form("войти через социальные сети")
                            //- +social_bar()
                        .col-md-7.offset-md-1
            +catalog_menu(catalog_menu)
            
        footer.dark-blue__bg
            .container
                .row
                    .col-md-7.offset-md-5
                        .footer__image
                            img(src="img/svg/bg image.svg", alt="")

        +add_scripts()