include components/connect
    
doctype html
html(lang="ru")
    head
        +head(head)

    body
        .content
            // header block start
            +header(header)
            // header block end
            // search block start
            +search()
            // search block end

            // warning block start
            section.pt-60.pb-60
                .container
                    .row
                        // title for sections start
                        +section_title(heading.styleguide.warningblocks)
                        // title for sections end
                    .row
                        .col-md-12
                            // Error block start
                            +get-error-block(warnings.error)(class="mb-20 mt-20")
                            // Error block end
                            // Info block start
                            +get-info-block(warnings.info)(class="mb-20 mt-20")
                            // Info block end
                            // Success block start
                            +get-success-block(warnings.success)(class="mb-20 mt-20")
                            // Success block end
                            // Warning block start
                            +get-warning-block(warnings.warning)(class="mb-20 mt-20")
                            // Warning block end
                    .row
                        .col-md-6
                            +get-info-block(warnings.error)(class="mb-20 mt-20")
                        .col-md-6
                            +get-success-block(warnings.error)(class="mb-20 mt-20")
            // warning block end

            // buttons start
            section.pt-60.pb-60.light_gray_blue
                .container
                    .row
                        // title for sections start
                        +section_title(heading.styleguide.buttons)
                        // title for sections end
                    .row.mb-20
                        .col-md-3
                            // button template start
                            +button("Someone button", "blue")
                            // button template end
                        .col-md-3
                            // button template start
                            +button("Someone button", "green")
                            // button template end
                        .col-md-3
                            // button template start
                            +button("Someone button", "red")
                            // button template end
                        .col-md-3
                            // button template start
                            +button("Someone button", "orange")
                    .row.mb-20
                        .col-md-3
                            // button template start
                            +button("Someone button", "purple")
                            // button template end
                        .col-md-3
                            // button template start
                            +button("Someone button", "brown")
                            // button template end
                        .col-md-3
                            // button template start
                            +button("Someone button", "yellow")
                            // button template end
                        .col-md-3
                            // button template start
                            +button("Someone button", "lightgray")
                            // button template end
                    .row
                        // title for sections start
                        +section_title(heading.styleguide.buttons.small)
                        // title for sections end
                    .row.mb-20
                        .col-md-2
                            // button small template start
                            +button_small("Small button", "green")
                            // button small template end
                        .col-md-2
                            // button small template start
                            +button_small("Small button", "red")
                            // button small template end
                        .col-md-2
                            // button small template start
                            +button_small("Small button", "blue")
                            // button small template end
                        .col-md-2
                            // button small template start
                            +button_small("Small button", "orange")
                            // button small template end
                        .col-md-2
                            // button small template start
                            +button_small("Small button", "purple")
                            // button small template end
                        .col-md-2
                            // button small template start
                            +button_small("Small button", "brown")
                            // button small template end
                    .row.mb-20
                        .col-md-2
                            // button small template start
                            +button_small("Small button", "yellow")
                            // button small template end
                        .col-md-2
                            // button small template start
                            +button_small("Small button", "lightgray")
                            // button small template end

                    .row
                        // title for sections start
                        +section_title(heading.styleguide.buttons.small)
                        // title for sections end
                    
                    .row.mb-20
                        .col-md-3
                            // small tab button start
                            +n_button_small("Tag button", "blue", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button_small("Tag button", "green", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button_small("Tag button", "red", "#", true, "fas fa-info-circle")
                            // small tab button end

                            .splitter_block

                            // normal tab button start
                            +n_button("Tag button", "blue", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button("Tag button", "red", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button("Tag button", "orange", "#", true, "fas fa-info-circle")
                            // normal tab button end

                            .splitter_block

                            // big tab button start
                            +n_button_big("Tag button", "blue", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button_big("Tag button", "red", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button_big("Tag button", "purple", "#", true, "fas fa-info-circle")
                            // big tab button end

                        .col-md-3
                            // small tab button start
                            +n_button_small("Tag button", "orange", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button_small("Tag button", "purple", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button_small("Tag button", "brown", "#", true, "fas fa-info-circle")
                            // small tab button end

                            .splitter_block

                            // normal tab button start
                            +n_button("Tag button", "green", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button("Tag button", "purple", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button("Tag button", "brown", "#", true, "fas fa-info-circle")
                            // normal tab button end

                            .splitter_block

                            // big tab button start
                            +n_button_big("Tag button", "green", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button_big("Tag button", "orange", "#", true, "fas fa-info-circle")
                            .clearfix.mb-20
                            +n_button_big("Tag button", "brown", "#", true, "fas fa-info-circle")
                            // big tab button end
                        .col-md-6
                            .styleguide_section_inject
                                +heading_block("Кнопки и иконки", "Описание того, как можно менять иконки на кнопках")
                                h4 Смена цветов
                                p Для того, чтобы сменить цвет, требуется добавить или сменить класс у главного класса кнопки <br/><b>.button_main_{colour name write here}</b>
                                p Список цветов:
                                .row.mb-40
                                    .col
                                        code.clearfix.pt-20.pb-10 .button_main_blue
                                        +n_button("Blue button", "blue", "#", true, "fas fa-info-circle")
                                        code.clearfix.pt-20.pb-10 .button_main_green
                                        +n_button("Green button", "green", "#", true, "fas fa-info-circle")
                                        code.clearfix.pt-20.pb-10 .button_main_red
                                        +n_button("Red button", "red", "#", true, "fas fa-info-circle")
                                    .col
                                        code.clearfix.pt-20.pb-10 .button_main_orange
                                        +n_button("Orange button", "orange", "#", true, "fas fa-info-circle")
                                        code.clearfix.pt-20.pb-10 .button_main_purple
                                        +n_button("Purple button", "purple", "#", true, "fas fa-info-circle")
                                        code.clearfix.pt-20.pb-10 .button_main_brown
                                        +n_button("Brown button", "brown", "#", true, "fas fa-info-circle")

                                h4 Смена иконки
                                p= 'Для того, чтобы сменить иконку на кнопки следует сменить классы у элемента <i>'
                                code.clearfix.pt-20= '<i class="fas someone-icon-class-from-fontAwesome.com"></i>'
                                p= 'Несколько примеров для понимания:'
                                .row.mb-40
                                    .col
                                        code.clearfix.pt-20.pb-10= '<i class="fas fa-exclamation-triangle"></i>'
                                        +n_button("Tag button", "orange", "#", true, "fas fa-exclamation-triangle")
                                        code.clearfix.pt-20.pb-10= '<i class="fas fa-check-square"></i>'
                                        +n_button("Tag button", "green", "#", true, "fas fa-check-square")
                                    .col
                                        code.clearfix.pt-20.pb-10= '<i class="fas fa-eraser"></i>'
                                        +n_button("Tag button", "red", "#", true, "fas fa-eraser")
                                        code.clearfix.pt-20.pb-10= '<i class="fas fa-user-cog"></i>'
                                        +n_button("Tag button", "blue", "#", true, "fas fa-user-cog")

                                h4 Смена размеров кнопок
                                
                                p У данного типа кнопок так же есть разные стили отображения по размерам. 
                                p Чтобы менять их размер достаточно добавить к двум элементам добавить классы состояния.
                                code.clearfix.pt-20.pb-10
                                    p Два класса, для которых требуется добавить состояния:
                                    p .button_main_icon 
                                    p .button_main_title

                                p Префиксы, которые добавляем: ..-small или ..-big

                                code.clearfix.pt-20.pb-10
                                    p .button_main_title-big и .button_main_icon-big

                                .row.justify-content-center
                                    .col-7
                                        +n_button_big("Big button", "blue", "#", true, "fas fa-cart-arrow-down")

                                code.clearfix.pt-20.pb-10
                                    p .button_main_title-small и .button_main_icon-small

                                .row
                                    .col
                                        +n_button_small("Small button", "orange", "#", true, "fas fa-arrow-alt-circle-down")
                                    .col
                                        +n_button_small("Small button", "purple", "#", true, "fas fa-archive")
                                    .col
                                        +n_button_small("Small button", "blue", "#", true, "fas fa-at")
            // buttons end

            // product block start
            section.pt-60.pb-60
                .container
                    .row
                        // title for sections start
                        +section_title(heading.styleguide.products)
                        // title for sections end
                    .row
                        .col-md-3
                            // button template start
                            +product(products.p1)
                            // button template end
                        .col-md-3
                            // button template with icon start
                            +product(products.p2)
                            // button template with icon end
                        .col-md-3
                            // button template with sale start
                            +product(products.s3)
                            // button template with sale end
                        .col-md-3
                            // buttom template with sale and icon start
                            +product(products.s4)
                            // buttom template with sale and icon end
            // product block end
            
            // category block start
            section.pt-60.pb-60.light_gray_blue
                .container
                    .row
                        // title for sections start
                        +section_title(heading.styleguide.catalogs)
                        // title for sections end
                    .row
                        // Catalog use 2 column in grid
                        //catalog label start
                        .col-md-2
                            +catalog_label(catalog.vegetables)
                        //catalog label end
                        //catalog label start
                        .col-md-2
                            +catalog_label(catalog.beans)
                        //catalog label end
                        //catalog label start
                        .col-md-2
                            +catalog_label(catalog.greenery)
                        //catalog label end
                        //catalog label start
                        .col-md-2
                            +catalog_label(catalog.mushrooms)
                        //catalog label end
                        //catalog label start
                        .col-md-2
                            +catalog_label(catalog.honey)
                        //catalog label end
                        //catalog label start
                        .col-md-2
                            +catalog_label(catalog.oil)
                        //catalog label end
            // category block end

            // breadcrumbs block start
            section.pt-60.pb-60
                .container
                    .row
                        // title for sections start
                        +section_title(heading.styleguide.breadcrumbs)
                        // title for sections end
                // breadcrumbs template start
                +breadcrumbs("Home/Category/Category Type/Product Type/Product Name", "/")
                // breadcrumbs template end
            // breadcrumbs block end

            // checkbox block start
            section.pt-60.pb-60
                .container
                    .row
                        // title for sections start
                        +section_title(heading.styleguide.checkboxs)
                        // title for sections end
                    .row
                        .col-md-3
                            // checkbox template start
                            +checkbox("Checkbox template")
                            // checkbox template end
                        .col-md-3
                            // checkbox template start
                            +checkbox("Checkbox template")
                            // checkbox template end
                        .col-md-3
                            // checkbox template start
                            +checkbox("Checkbox template")
                            // checkbox template end
                        .col-md-3
                            // checkbox template start
                            +checkbox("Checkbox template")
                            // checkbox template end
            // checkbox block end

            // form block start
            section.pt-60.pb-60
                .container
                    .row
                        // title for sections start
                        +section_title(heading.styleguide.forms)
                        // title for sections end
                    .row
                        .col-md-12
                            +form_input("Заголовок для поля", "text", "Placeholder input")
                    .row.mt-40
                        .col-md-4
                            +form_input("Поля ошибок", "text", "Use class: .form_field_input-error")(class="form_field_input-error")
                        .col-md-4
                            +form_input("Поля успешные", "text", "Use class: .form_field_input-success")(class="form_field_input-success")
                        .col-md-4
                            +form_input("Поля информации", "text", "Use class: .form_field_input-info")(class="form_field_input-info")
            // form block end

            // comment block start
            section.pt-60.pb-60
                .container
                    .row
                        // title for sections start
                        +section_title(heading.styleguide.commentsblock)
                        // title for sections end
                    .row
                        .col-md-12
                            +comment_block(comments.c1)
                    .row
                        .col-md-6
                            +comment_block(comments.c3)
                        .col-md-6
                            +comment_block(comments.c5)
            // comment block start
            

