footer
    background-color $darker
    padding-top 30px
    padding-bottom 30px
    height 200px
    box-sizing border-box

.footer__image
    position relative
    width 100%
    height 100%
    display block

    img
        position absolute
        top -470px
        right 0

.dark-blue__bg
    background-color #3E8FCC