.tabs_block
    display block
    width 100%
    padding-top 40px
    padding-bottom 20px

    &_item
        set-font "regular"
        font-size 18px
        color #9E9E9E
        padding 7px 25px
        margin 0
        cursor pointer
        transition all 300ms ease-in
        border none
        border-bottom-color transparent
        border-bottom-style solid
        border-bottom-width 3px
        display inline-block
        position relative

        &:hover
            color $second-color

        &-active
            border-bottom-color $second-color
            color $second-color


    &_wrapper
        padding-top 20px
        display none

        &-active
            display block
    