mixin comment_block(data)
    // comment block start
    .comment_block
        .comment_block_left
            .comment_block_left_rating
                +rating(data.rating)
            .comment_block_left_user
                a.comment_block_left_user_name(href="#{data.user.link}") #{data.user.name}
                - var now = new Date()
                - var datetime = now.getDate() + "." + now.getMonth() + "." + now.getFullYear() + " " + now.getHours() + ":" + now.getMinutes()
                .comment_block_left_user_datetime #{datetime}
            .comment_block_left_complaint
                a.comment_block_left_complaint_link(href="#")
                    i.comment_block_left_complaint_link_icon(class="fas fa-exclamation-triangle")
                    span.comment_block_left_complaint_link_title Пожаловаться
        .comment_block_right
            .comment_block_right_wrapper
                span.comment_block_right_wrapper_heading Достоинства
                span.comment_block_right_wrapper_description #{data.dignity}
            .comment_block_right_wrapper
                span.comment_block_right_wrapper_heading Недостатки
                span.comment_block_right_wrapper_description #{data.limitations}
            .comment_block_right_wrapper
                span.comment_block_right_wrapper_heading Комментарий
                span.comment_block_right_wrapper_description #{data.comments}
    // comment block end