mixin social_bar()
    .loggin-section__social_ender
        a.social__link.bs-3.link-green(href="#")
            i.fab.fa-google-plus-g
        a.social__link.bs-3.link-green(href="#")
            i.fab.fa-vk
        a.social__link.bs-3.link-green(href="#")
            i.fab.fa-odnoklassniki
        a.social__link.bs-3.link-green(href="#")
            i.fab.fa-twitter
        a.social__link.bs-3.link-green(href="#")
            i.fas.fa-ellipsis-v

mixin underline_login_form(title)
    .loggin-section__line
        span.line__content #{title}

mixin form_input(label, type, placeholder)
    .form_field
        label.form_field_label #{label}
        input.form_field_input&attributes(attributes)(type="#{type}", placeholder="#{placeholder}")
