.company_info_block
    display block
    width 100%

    &_image
        width 100%
        display block
        border-radius 10px
        overflow hidden
        transition all 200ms ease
        position relative

        &:hover
            box-shadow: 0 10px 20px rgba(0,0,0,.15)

            .company_info_block_image_options
                opacity 1
                bottom 0

        img
            background-size cover
            width 100%
            height auto

        &_options
            display flex
            flex-direction row
            padding-left 35px
            padding-right 35px
            align-items center
            justify-content space-between
            position absolute
            height 60px
            width 100%
            background rgba(0,0,0,.3)
            bottom -60px
            left 0
            opacity 0
            transition all 200ms ease-in

            &_item
                color $light-gray-color
                font-size 24px
                text-decoration none
                cursor pointer

                &:hover
                    color $orange

                &-red:hover
                    color $red

                &-orange:hover
                    color $orange

    &_content
        display block
        width 100%

.cabinet_add_product_button
    display block
    width 200px

.cabinet_table_wrapper
    margin-top 30px
    margin-bottom 30px
    
.organization_block
    margin-top 30px
    margin-bottom 30px
    display block
    width 100%

    &_wrapper
        background-color #fff
        transition all 200ms ease
        width 100%
        display block
        padding-left: 20px
        padding-right: 20px
        padding-top: 30px
        padding-bottom: 30px

        &:hover
            background-color #ECEFF1

        &_content
            position relative
            display flex
            width 100%
            flex-flow row nowrap
            align-items flex-start

            &_logo
                flex 2
                position: relative

                &_button
                    margin-top: 30px

            &_desc
                flex 8
                padding-left 30px
                padding-right 30px

                &_text
                    set-font "regular"
                    font-size 16px
                    color #546E7A

            &_buttons
                flex 2

                &_item
                    margin-bottom: 20px