mixin get-error-block(data)
    .wblock.wblock-error.br-5&attributes(attributes)
        .wblock-wrapper
            .wblock-wrapper__icon
                i.fas.fa-times-circle
            .wblock-wrapper__description
                span.wblock-wrapper__description_title #{data.Title}
                span.wblock-wrapper__description_text #{data.Description}

mixin get-info-block(data)
    .wblock.wblock-info.br-5&attributes(attributes)
        .wblock-wrapper
            .wblock-wrapper__icon
                i.fas.fa-info-circle
            .wblock-wrapper__description
                span.wblock-wrapper__description_title #{data.Title}
                span.wblock-wrapper__description_text #{data.Description}

mixin get-success-block(data)
    .wblock.wblock-success.br-5&attributes(attributes)
        .wblock-wrapper
            .wblock-wrapper__icon
                i.fas.fa-check-circle
            .wblock-wrapper__description
                span.wblock-wrapper__description_title #{data.Title}
                span.wblock-wrapper__description_text #{data.Description}

mixin get-warning-block(data)
    .wblock.wblock-warning.br-5&attributes(attributes)
        .wblock-wrapper
            .wblock-wrapper__icon
                i.fas.fa-exclamation-circle
            .wblock-wrapper__description
                span.wblock-wrapper__description_title #{data.Title}
                span.wblock-wrapper__description_text #{data.Description}