//- Old mixin for button
mixin button(title, colour, link = "#")
    a.button.button-depth&attributes(attributes)(class="button-#{colour}", href="#{link}")
        span.title #{title}

mixin button_with_icon(title, colour, icon, link = "#")
    a.button.button-depth&attributes(attributes)(class="button-#{colour}", href="#{link}")
        span.icon
            i.fas(class="fa-#{icon}")
        span.title #{title}
        
mixin button_small(title, colour, link="#")
    a.button.button-depth.button-small&attributes(attributes)(class="button-#{colour}", href="#{link}")
        span.title #{title}

//- New mixin for button
mixin n_button(title, colour, link="#", icon = false, typeicon = "")
    a.button_main&attributes(attributes)(class="button_main_#{colour}", href="#{link}")
        if icon
            span.button_main_icon
                i(class="#{typeicon}")
        span.button_main_title #{title}

mixin n_button_small(title, colour, link="#", icon = false, typeicon = "")
    a.button_main&attributes(attributes)(class="button_main_#{colour}", href="#{link}")
        if icon
            span.button_main_icon.button_main_icon-small
                i(class="#{typeicon}")
        span.button_main_title.button_main_title-small #{title}

mixin n_button_big(title, colour, link="#", icon = false, typeicon = "")
    a.button_main&attributes(attributes)(class="button_main_#{colour}", href="#{link}")
        if icon
            span.button_main_icon.button_main_icon-big
                i(class="#{typeicon}")
        span.button_main_title.button_main_title-big #{title}


