.login-registration__bg
    background-color $light_blue

.loggin-section
    position relative
    width 100%

    &__registration
        width 100%
        display flex
        flex-direction column
        align-items center

        .registration__button
            width 175px
            display block

.registration__title,
.enter__title
    font-size 24px
    set-font("semibold")
    text-align center
    display block
    
.loggin-section__line
    padding-top 25px
    padding-bottom 25px
    width 100%
    display flex
    align-items center
    justify-content center
    overflow-x hidden

    .line__content
        padding 0 10px
        position relative
        set-font("regular")
        font-size 14px

        &:before
            right 100%

        &:after
            left 100%
        
        &:before,
        &:after
            position absolute
            top 50%
            width 100vh
            display block
            content ""
            border-bottom 1px solid $grayblue_dark

/* * * * * * * * * * * * * * * * * *
 * SOCIAL ICON IN LOGGIN FORM
 * * * * * * * * * * * * * * * * * */
.loggin-section__social_ender
    display flex
    justify-content space-between
    align-content center
    width 100%

.social__link
    display block
    width 55px
    height 55px
    border-radius 50%
    background-color #ffffff
    font-size 24px
    text-align center
    position relative

    i
        position absolute
        top 50%
        left 50%
        display block
        transform translate(-50%, -50%)

/* * * * * * * * * * * * * * * * * *
 * ENTER FORM
 * * * * * * * * * * * * * * * * * */
.enter-form
    display flex
    flex-direction column
    align-items center
    width 100%

/* ----------------------------------
    Form base input
   ---------------------------------- */

.form_field
    width 100%
    margin-bottom 30px

    &:last-child
        margin-bottom 0

    &_title
        font-size 16px
        set-font("regular")
        color #455A64

    &_input
        width 100%
        padding 10px
        border-width 1px
        border-style solid
        border-color #B0BEC5
        border-radius 5px
        box-shadow 0 3px 6px rgba(0,0,0,.16)
        outline none
        color $main-text-color
        transition all 150ms ease

        ::placeholder
            color $light_grayblue !important

        &:focus
            border 1px solid $second-color
            box-shadow 0 5px 20px rgba(0,0,0,.25)

        &-error
            border-color $red
            color $red

            &:focus
                border-color $red

        &-success
            border-color $main-color
            color $main-color

            &:focus
                border-color $main-color

        &-info
            border-color $second-color
            color $second-color

            &:focus
                border-color $second-color

    .field__link
        font-size 16px
        set-font("semibold")
        padding-top 10px
        display block


/* * * * * * * * * * * * * * * * * *
 * REGISTRATION FOOTER
 * * * * * * * * * * * * * * * * * */
.loggin-section__footer
    width 100%