include button/button.jade
include checkbox_and_radio/checkbox_and_radio.jade
include warnings/warnings.jade
include rating/rating.jade
include sale_label/sale_label.jade
include product_label/product_label.jade
include section_header/section_header.jade
include catalog_label/catalog_label.jade
include login_and_registration/login_and_registration_mixin.jade
include breadcrumbs/breadcrumbs.jade
include comment_block/comment_block.jade