mixin section_title(data)
	.col-md-12
		h3.header__title #{data.title}
			if data.use_undertitle
				small.undertitle #{data.undertitle}

mixin heading_block(title, subtitle = "", usesubtitle = true)
	.heading_block
		.heading_block_title #{title}
		if usesubtitle
			.heading_block_undertitle #{subtitle}