//- Old mixin template for product block
mixin old_product(data)
	.product
		.product__wrapper

			if data.sale.enable
				+GetSaleLabel(data.sale.value)

			.product__image
				img(src="#{data.image}", alt="#{data.title}")
				if data.crown
					span.ratio__icon
						i.fas.fa-crown
			.product__content
				
				.product__content_header
					a(href="").product__name #{data.title}
					a(href="").company__name #{data.company}
				.product__content_rating
					+rating(data.rating)
				.product__content_price

					if data.sale.enable
						- var price = parseFloat(data.price)
						- var sale = parseFloat(data.sale.value)
						- var result = price * sale * 0.01

						span.sale__price.sale__price_enabled
							span.value #{data.price}
							i.fas.fa-ruble-sign
						span.normal__price.normal__price_onsale
							span.value #{result.toFixed(2)}
							i.fas.fa-ruble-sign
					else
						span.normal__price
							span.value #{data.price}
							i.fas.fa-ruble-sign
				.product__content_footer
					span.icons.left
						i.fas.fa-heart
						i.fas.fa-share-square
						i.fas.fa-shopping-cart
					span.button__more.right
						+button('Подробнее', 'lightgray', "productdetails.html")(class="product__button")

//- New mixin template for product block
mixin product(data)
	.product_block

		// sale label
		if data.sale.enable
			+GetSaleLabel(data.sale.value)

		// product image
		.product_block_image
			img(src="#{data.image}", alt="#{data.title}")
			if data.crown
				span.product_block_image_ratio
					i.fas.fa-crown.product_block_image_ratio_icon

		// product content
		.product_block_content
			// product title and company name
			.product_block_content_header
				a.product_block_content_header_productname(href="#") #{data.title}
				a.product_block_content_header_companyname(href="#") #{data.company}
			// product ratio
			.product_block_content_rating
				+rating(data.rating)
			// product price
			.product_block_content_price
				if data.sale.enable
					- var price = parseFloat(data.price)
					- var sale = parseFloat(data.sale.value)
					- var result = price * sale * 0.01
					// sale price template
			
					span.product_block_content_price_saleprice.product_block_content_price_saleprice-enable
						span.product_block_content_price_saleprice_value #{data.price}
						i.fas.fa-ruble-sign.product_block_content_price_saleprice_currency
					span.product_block_content_price_fullprice.product_block_content_price_fullprice-onsale
						span.product_block_content_price_fullprice_value #{result.toFixed(2)}
						i.fas.fa-ruble-sign.product_block_content_price_fullprice_currency
				else
					// normal price
					span.product_block_content_price_fullprice
						span.product_block_content_price_fullprice_value #{data.price}
						i.fas.fa-ruble-sign.product_block_content_price_fullprice_currency
			// product footer (icon and button)
			.product_block_content_footer
				span.product_block_content_footer_icons
					i.fas.fa-heart.product_block_content_footer_icons_item
					i.fas.fa-share-square.product_block_content_footer_icons_item
					i.fas.fa-shopping-cart.product_block_content_footer_icons_item
				span.product_block_content_footer_button
					+button('Подробнее', 'lightgray', "productdetails.html")(class="product__button")

