mixin fg_input(type, label, placeholder)
    .form_group
        label.form_group_label #{label}
        input.form_group_input(type="#{type}", placeholder="#{placeholder}")

mixin fg_textarea(label, placeholder, rows = 5)
    .form_group
        label.form_group_label #{label}
        textarea.form_group_input.form_group_textarea(type="#{type}", row="#{rows}", placeholder="#{placeholder}")

mixin m_add_company(id)
    .modal.fade(tabindex="-1", role="dialog", aria-hidden="true", id="#{id}", aria-labelledby="messageDialog")
        .modal-dialog.modal_block_large_dialog.mt-40
            .modal-content.bs-30
                .modal-body
                    .modal_block
                        .modal_block_header
                            .heading_block
                                .heading_block_title Добавление новой организации
                                .heading_block_undertitle Вы можете добавить новую организацию
                            .wblock.wblock-warning.br-5
                                .wblock-wrapper
                                    .wblock-wrapper__icon
                                        i.fas.fa-exclamation-circle
                                    .wblock-wrapper__description
                                        span.wblock-wrapper__description_title ВНИМАНИЕ
                                        span.wblock-wrapper__description_text Добавляя новую организацию Вы подтверждаете заключение договора с ООО Биг Агро, договор можно будет скачать из личного кабинета)
                        .modal_block_body
                            .form_block
                                +fg_input("text", "Наименование орнагизации", "Введите наименование, ИНН, ОГРН или адрес организации")
                                +fg_input("text", "Сокращенное наименование", 'ООО "Примерное название компании" Int.')
                                +fg_input("text", "ИНН", "0123456789")
                                +fg_input("text", "КПП", "0123456789")
                                +fg_input("text", "ОГРН", "0123456789")
                                +fg_textarea("Юридический адрес организации", "Введите наименование юридический адрес организации")
                                +fg_textarea("Фактический адрес организации", "Введите наименование фактического адреса организации")
                                .form_group.justify-content-between.align-items-center
                                    .form_group_block.d-flex.flex-row.justify-content-between.align-items-center
                                        .form_group_block_item.mr-30
                                            label.form_group_label Телефон
                                            input.form_group_input(type="tel", placeholder="+7 (999) 00-00-000")
                                        .form_group_block_item.ml-30
                                            label.form_group_label Факс
                                            input.form_group_input(type="tel", placeholder="+7 (999) 00-00-000")
                                    .form_group_footer.d-flex.flex-row.justify-content-end.align-items-center
                                        a.button_main.button_main_green.button_main-bold(href="#", style="width: 175px;")
                                            span.button_main_icon
                                                i(class="fas fa-plus-square")
                                            span.button_main_title Добавить поля
                                .form_group.justify-content-between.align-items-center
                                    .form_group_block.d-flex
                                        .form_group_block_item
                                            label.form_group_label Email
                                            input.form_group_input(type="email", placeholder="example@email.com")
                                    .form_group_footer.d-flex.flex-row.justify-content-end.align-items-center
                                        a.button_main.button_main_green.button_main-bold(href="#", style="width: 175px;")
                                            span.button_main_icon
                                                i(class="fas fa-plus-square")
                                            span.button_main_title Добавить поле
                                +fg_textarea("Описание организации", "Краткое описание организации")
                                +fg_input("text", "Ваша должность в организации", 'Например: Генеральный директор')
                                .form_group.d-flex.mb-0
                                    +checkbox("Отправить данные о компании на проверку и потверждение")
                                .form_group.d-flex.mt-0
                                    +checkbox("Я принимаю данные договора и даю согласие на обработку моих данных")
                        .modal_block_footer.justify-content-between
                            +m_button("Отправить", "blue", "fas fa-file-upload")(style="width: 160px;", class="button_main-bold")
                            +m_button("Очистить поля", "red", "fas fa-trash")(style="width: 180px;", class="button_main-bold")
                            +m_button("Отмена ", "gray", "fas fa-ban")(data-dismiss="modal", style="width: 130px;", class="button_main-bold")