mixin fg_input_file(label, id)
    .form_group
        label.form_group_label #{label}
        span.form_group_wrapper
            input.form_group_input.input_file(id="#{id}", type="file", name="#{id}", data-multiple-caption="{count} файлов выбранно", multiple)
            label.input_file_label(for="#{id}")
                span.input_file_label_text Выберете файл
                span.input_file_label_icon
                    i.fas.fa-file-upload

mixin m_button(title, colour, icon)
    a.button_main&attributes(attributes)(class="button_main_#{colour}", href="#")
        span.button_main_icon
            i(class="#{icon}")
        span.button_main_title #{title}

mixin m_checkcompany(id)
    .modal.fade(tabindex="-1", role="dialog", aria-hidden="true", id="#{id}", aria-labelledby="messageDialog")
        .modal-dialog.modal_block_message_dialog.modal-dialog-centered
            .modal-content.bs-30
                .modal-body
                    .modal_block
                        .modal_block_header
                            .wblock.wblock-info.br-5
                                .wblock-wrapper
                                    .wblock-wrapper__icon
                                        i.fas.fa-info-circle
                                    .wblock-wrapper__description
                                        span.wblock-wrapper__description_title ПРОВЕРКА КОМПАНИИ
                                        span.wblock-wrapper__description_text Pellentesque viverra varius purus id varius. Nullam a magna varius mauris condimentum faucibus. Nunc scelerisque fringilla massa. Proin non mauris aliquet, facilisis nisl vel, fringilla ipsum. Nulla dapibus, metus ac facilisis interdum, tortor libero posuere tortor, sed ultrices quam diam non tellus.
                        .modal_block_body
                            form.form_block
                                +fg_input_file("Документ первый", "file-1")
                                +fg_input_file("Документ второй", "file-2")
                                +fg_input_file("Документ третий", "file-3")
                                +fg_input_file("Документ четвертый", "file-4")
                                .modal_block_body_form_field
                                    label.checkbox
                                        input(type="checkbox")
                                        .checkbox__text.font-size-16 Отправить данные о компании на проверку и потверждение
                        .modal_block_footer.justify-content-between
                            +m_button("Отправить", "blue", "fas fa-file-upload")(style="width: 160px;", class="button_main-bold")
                            +m_button("Отмена ", "gray", "fas fa-ban")(data-dismiss="modal", style="width: 130px;", class="button_main-bold")