mixin m_message(name, message, type, id)
    - var colour = type == "success" ? "green" : type == "error" ? "red" : "blue"
    .modal.fade(tabindex="-1", role="dialog", aria-hidden="true", id="#{id}", aria-labelledby="messageDialog")
        .modal-dialog.modal-dialog-centered.modal_block_message_dialog
            .modal-content.bs-30
                .modal-body
                    .modal_block.pt-20.pb-20
                        .modal_block_icon
                            if type == "success"
                                i.far.fa-check-circle.modal_block_icon-green
                            else if type == "error"
                                i.far.fa-times-circle.modal_block_icon-red
                            else if type == "info"
                                i.fas.fa-info-circle.modal_block_icon-blue
                            else
                                i.far.fa-bell.modal_block_icon-blue
                        .modal_block_message #{name} <br/> #{message}
                        .modal_block_button
                            a.button.button-depth(class="button-#{colour}", data-dismiss="modal", href="#", role="button")
                                span.title Закрыть

mixin m_message_sm(name, message, type, id)
    - var colour = type == "success" ? "green" : type == "error" ? "red" : "blue"
    .modal.fade.bd-example-modal-sm(tabindex="-1", role="dialog", aria-hidden="true", id="#{id}", aria-labelledby="messageDialog")
        .modal-dialog.modal-dialog-centered.modal-sm
            .modal-content.bs-30
                .modal-body
                    .modal_block.pt-20.pb-20
                        .modal_block_icon
                            if type == "success"
                                i.far.fa-check-circle.modal_block_icon-green
                            else if type == "error"
                                i.far.fa-times-circle.modal_block_icon-red
                            else if type == "info"
                                i.fas.fa-info-circle.modal_block_icon-blue
                            else
                                i.far.fa-bell.modal_block_icon-blue
                        .modal_block_message #{name} <br/> #{message}
                        .modal_block_button
                            a.button.button-depth(class="button-#{colour}", data-dismiss="modal", href="#", role="button")
                                span.title Закрыть

mixin m_message_lg(name, message, type, id)
    - var colour = type == "success" ? "green" : type == "error" ? "red" : "blue"
    .modal.fade.bd-example-modal-lg(tabindex="-1", role="dialog", aria-hidden="true", id="#{id}", aria-labelledby="messageDialog")
        .modal-dialog.modal-dialog-centered.modal-lg
            .modal-content.bs-30
                .modal-body
                    .modal_block.pt-20.pb-20
                        .modal_block_icon
                            if type == "success"
                                i.far.fa-check-circle.modal_block_icon-green
                            else if type == "error"
                                i.far.fa-times-circle.modal_block_icon-red
                            else if type == "info"
                                i.fas.fa-info-circle.modal_block_icon-blue
                            else
                                i.far.fa-bell.modal_block_icon-blue
                        .modal_block_message #{name} <br/> #{message}
                        .modal_block_button
                            a.button.button-depth(class="button-#{colour}", data-dismiss="modal", href="#", role="button")
                                span.title Закрыть