.modal_block
    display flex
    flex-flow column nowrap
    justify-content center
    align-items stretch
    padding 10px

    &_message_dialog
        max-width 590px
        margin auto

    &_large_dialog
        max-width 790px
        margin auto

    &_message
        padding 0
        margin 0
        padding-top 30px
        padding-bottom 50px
        text-align center
        color #37474F
        font-size 24px
        set-font "regular"

    &_icon
        display flex
        justify-content center
        font-size 110px
        
        &-green
            color $main-color

        &-blue
            color $second-color

        &-red
            color $red
    &_button
        width 150px
        display block
        margin 0 auto

    &_body
        margin-top 30px
        margin-bottom 30px

        &_form
            &_field
                padding-bottom 30px
                display flex
                flex-flow column nowrap

                &_label
                    set-font("regular")
                    color #455A64
                    font-size 16px

    &_footer
        display flex
        flex-flow row nowrap