mixin catalog_label(data)
    a.category__base.bs-3.br-5.clear-link(href="")
        .category__image
            span.image
                img(src="#{data.icon}", alt="#{data.title}")
        .category__naming
            span.category__name #{data.title}