mixin tabs(data)
    .tabs-wrapper
        each tab in data
            - var class = tab.active ? "active" : ""
            label.tabs-wrapper__tab(class="#{class}") #{tab.title}
            .tabs-wrapper__block(class="#{class}")