mixin header(data)
    header.header1
        .container
            .row
                .col-md-6.location
                    .left
                        i.fas.fa-map-marker-alt.icon
                    .left
                        a.ml-10.location__text(href="") Свердловская обл., Новоуральск
                .col-md-6.text-right.user-menu
                    a.pl-30.pr-30(href="").icon
                        span 5
                        i.fas.fa-heart
                    a.pl-30.pr-30(href="").icon
                        span 20
                        i.fas.fa-shopping-cart
                    span.ml-30.login-form
                        a.form__text(href="loginpage.html") Вход
                        span.form__separator /
                        a.form__text(href="registrationpage.html") Регистрация