.category__base
	background-color #fff !important
	height 190px
	position relative
	display block

	.category__image
		width 100%
		height 120px
		margin-bottom 15px
		padding-top 20px
		display block
		position relative

		.image
			width 100px
			height 80px
			position absolute
			top 50%
			left 50%
			transform: translate(-50%, -40%)

	.category__naming
		display block
		set-font: 'light'
		font-size 16px
		line-height 18px
		text-align center
		padding-left 10px
		padding-right 10px
		
		.category__name
			display block
			margin 0 auto
